<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   <link rel="stylesheet" type="text/css" href="/css/postalcode.js.css">
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="postcode-data" data-postcode="{{{obj2dataAttribute data}}}"></data>

{{> footer}}

<script type="module" src="/js/postalcode.js"></script>

</body>
</html>
