<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   {{> includeLeaflet}}
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="postcode-data" data-postcode="{{{obj2dataAttribute data}}}"></data>

<script type="module" src="/js/postalcode.js"></script>

</body>
</html>
