<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   
   <link rel="stylesheet" href="/lib/leaflet/leaflet.css">
   <script src="/lib/leaflet/leaflet.js"></script>
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="postcode-data" data-postcode="{{{obj2dataAttribute data}}}"></data>

<script src="/js/postalcode-route.js"></script>

</body>
</html>
