<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
</head>
<body>

{{> bodyHeader}}

<div class="limiter" style="padding: 2% 10%;">
   <label for="select-codigo-postal">Obter informação de Código Postal</label>
   <input type="text" id="codigo-postal" class="border rounded" name="codigo-postal" placeholder="1234-567" required minlength="8" maxlength="8" size="10">
   <br>

   <table class="table table-hover">
     <tbody id="result-codigo-postal">
     </tbody>
   </table>   
</div>

<script src="/js/getPostalCodesInfo.js" type="text/javascript"></script>

</body>
</html>
