<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   {{> includeLeaflet}}
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="district-parishes-route-data" data-districtparishesroute="{{{obj2dataAttribute data}}}"></data>

<script type="module" src="/js/routes/district-parishes.js"></script>

</body>
</html>
