<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="district-municipalities-route-data" data-districtmunicipalitiesroute="{{{obj2dataAttribute data}}}"></data>

{{> footer}}

<script type="module" src="/js/district-municipalities.js"></script>

</body>
</html>
