<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   {{> includeLeaflet}}
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="districts-route-data" data-districtsroute="{{{obj2dataAttribute data}}}"></data>

<script type="module" src="/js/districts.js"></script>

</body>
</html>
