<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   <link rel="stylesheet" type="text/css" href="/css/districts.js.css">
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="districts-route-data" data-districtsroute="{{{obj2dataAttribute data}}}"></data>

{{> footer}}

<script type="module" src="/js/districts.js"></script>

</body>
</html>
