<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   <link rel="stylesheet" type="text/css" href="/css/district-altitude.js.css" />
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="district-altitude-route-data" data-districtroute="{{{obj2dataAttribute data}}}"></data>

{{> footer}}

<script type="module" src="/js/district-altitude.js"></script>

</body>
</html>
