<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   <link rel="stylesheet" type="text/css" href="/css/gps.js.css" />
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="gps-route-data" data-gpsroute="{{{obj2dataAttribute data}}}"></data>

{{> footer}}

<script type="module" src="/js/gps.js"></script>

</body>
</html>
