<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   {{> includeLeaflet}}
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="gps-route-data" data-gpsroute="{{{obj2dataAttribute data}}}"></data>

<script type="module" src="/js/routes/gps.js"></script>

</body>
</html>
