<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   {{> includeLeaflet}}
</head>
<body>

{{> bodyHeader}}

<data id="meulocal-route-data" data-meulocalroute="{{{obj2dataAttribute data}}}"></data>

{{> footer}}

<script type="module" src="/js/meulocal.js"></script>

</body>
</html>
