<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="municipality-parishes-route-data" data-municipalityparishesroute="{{{obj2dataAttribute data}}}"></data>

{{> footer}}

<script type="module" src="/js/municipality-parishes.js"></script>

</body>
</html>
