<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   
   <link rel="stylesheet" href="/lib/leaflet/leaflet.css">
   <script src="/lib/leaflet/leaflet.js"></script>
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="parish-route-data" data-parishroute="{{{obj2dataAttribute data}}}"></data>

<script src="/js/parish-route.js"></script>

</body>
</html>
