<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   <link rel="stylesheet" type="text/css" href="/css/parish.js.css" />
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="parish-route-data" data-parishroute="{{{obj2dataAttribute data}}}"></data>

{{> footer}}

<script type="module" src="/js/parish.js"></script>

</body>
</html>
