<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
</head>
<body>

{{> bodyHeader}}

<div class="limiter">
   <div class="container-table100">
      <div class="row w-100">
         <div class="col-4">
            <label for="select-municipio">Município</label>
            <select class="form-control" id="select-municipio"></select>
         </div>
         <div class="col-8">
            <label for="select-freguesia">Junta de Freguesia</label>
            <select class="form-control" id="select-freguesia"></select>
         </div>
      </div>
   </div>
</div>

<div class="limiter">
   <div class="container-table100">
      {{{obj2html data}}}
   </div>
</div>

<script src="/js/getAuthorityInfo.js"></script>

</body>
</html>
