<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="parish-sections-route-data" data-parishsectionsroute="{{{obj2dataAttribute data}}}"></data>

{{> footer}}

<script type="module" src="/js/parish-sections.js"></script>

</body>
</html>
