<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   <link rel="stylesheet" type="text/css" href="/css/section.js.css">
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}

<data id="section-route-data" data-sectionroute="{{{obj2dataAttribute data}}}"></data>

{{> footer}}

<script type="module" src="/js/section.js"></script>

</body>
</html>
