pre {
  padding: 5px; 
  margin: 5px;
  display: inline;
  margin: 0;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.limiter {
  padding-left: 1em;
}
