.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7); 
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup-overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 99999;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 550px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}

.key-icon-dropdown {
	display: inline-flex;
	white-space: nowrap;
}

.green {
  color: green;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}