@font-face {
	font-family: Poppins-Regular;
	src: url(/fonts/poppins/Poppins-Regular.ttf)
}

@font-face {
	font-family: Poppins-Bold;
	src: url(/fonts/poppins/Poppins-Bold.ttf)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: sans-serif
}

body {
	background-color: #fbfbfb !important;
}

a {
	margin: 0;
	transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s
}

a:focus {
	outline: none !important
}

#project_title a, 
#project_title a:hover, 
#project_title a:focus, 
#project_title a:active
a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0
}

p {
	margin: 0
}

ul,
li {
	margin: 0;
	list-style-type: none
}

textarea {
	display: block;
	outline: none
}

textarea:focus {
	border-color: transparent !important
}

.limiter {
	width: 100%;
	margin: 0 auto;
	background-color: #fbfbfb;
}

.main-padding {
	padding: 3% 10% 0 10%;
}

.footer-padding {
	padding: 2% 10%;
}

.table-info2, .table-info2>td, .table-info2>th {
	background-color: #e8f8fb;	
}

.container-table100 {
	width: 100%;
	background: #fbfbfb;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 10%;
	max-width: 1500px;
	margin: 0 auto;
}

.container-header {
	justify-content: center;
}

.wrap-table100 {
	width: 960px;
	border-radius: 10px;
	overflow: hidden;
}

.width_50perc {
	width: 50%;
}

.width_33perc {
	width: 33%;
}

#header_wrap {
	background: linear-gradient(to top, #373737, #212121);
}

#header_wrap .inner {
	padding: 20px 10px 14px 10px;
}

.inner {
	position: relative;
	max-width: 640px;
	padding: 20px 10px;
	margin: 0 auto;
}

#forkme_banner {
	display: block;
	position: absolute;
	text-decoration: none;
	top: 0;
	right: 10px;
	z-index: 10;
	padding: 10px 50px 10px 10px;
	color: #fff;
	background: url(/img/blacktocat.png) #0090ff no-repeat 95% 50%;
	font-weight: 700;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

#project_title {
	margin: 0;
	color: #fff;
	font-size: 42px;
	font-weight: 700;
	text-shadow: #111 0px 0px 10px;
	margin-bottom: 14px;
}

#project_tagline {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	background: none;
	text-shadow: #111 0px 0px 10px;
	padding-bottom: 15px;
}

#mylocalbutton {
	text-align: center;
	padding: 0 10% 15px 10%;
}

#mylocalbutton a {
	word-break: break-word;
	border: #b8b7b7 1px solid;
	border-radius: 5px;
	display: block;
	background: linear-gradient(to top, #e4e0e0, #fcfcfc);
	text-decoration: none;
	color: #373737;
	font-size: larger;
}

#mylocalbutton img {
	max-height: 110px;
}

/* main index page grid cards and bootstrap tweaks */
.cards .card .btn-group-vertical button {
  margin-top: 5px !important;
  border-radius: 4px !important;
}

.cards .card .input-group.mb-3 {
  margin-top: 5px !important;
  margin-bottom: auto !important;
  border-radius: 4px !important;
}

.cards .card {
  background-color: transparent !important;
  padding: 1rem;
  overflow: auto;
  border: none !important;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.input-group-prepend div,
.input-group-prepend label {
  min-width: 100px;
}

#latitude-gps-info {
	border-bottom-left-radius: 0;
}

#longitude-gps-info {
	border-top-left-radius: 0;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ========================== */

@media (min-width: 500px) {
  #mylocalbutton {
		display: none;
	}
}

@media (max-width:500px) {
	.container-table100 {
		padding: 15px 2%;
		font-size: large;
		text-align: center;
		word-break: break-word;
	}

	table.table tr {
		display: table;
		width: 100%;
		margin: 1em auto;
		border-top: 2px solid;
	}
	table.table td,
	table.table th {
		display: table-row;
		text-align: justify;
		padding: 3px;
		font-size: large;
		word-break: break-word;
	}
}

/* Mainly for PWA */
@media all and (display-mode: standalone) {
  #header_wrap {
    display: none
  }
}
