.map-div {
	padding: 20px 10%;
}

#map { 
	height: 800px;
	border-radius: 10px;
}

#map .info.leaflet-control {
  background: rgba(255, 255, 255, .7);
  border-radius: 10px;
  padding: 8px;
}

#map .leaflet-control-layers-toggle {
	width: 60px;
	height: 60px;
}

#map .leaflet-control-layers-toggle {
  background-size: 40px 40px;
}

#map .leaflet-control-zoom { 
	margin-bottom: 45px;
}

@media (max-width:480px) {
	.map-div {
		padding: 15px 2%;
	}
	#map {
		height: 500px;
	}
}