node_modules/

res/**/**/*.CPG
res/**/*.cpg
res/**/**/*.cpg
res/**/*.dbf
res/**/**/*.prj
res/**/**/*.shp
res/**/**/*.shx
res/**/*.txt
res/**/*.csv
res/postal-codes/pt_addresses.csv.zip
res/postal-codes/postalCodes.json
res/**/*.txt

src/public/lib/**/*

credentials.json

uploadToServer.sh
