<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   {{> includeLeaflet}}
</head>
<body>

{{> bodyHeader}}

<div class="limiter">
   <div class="container-table100">
      <p class="text-justify lead">
         <a href="https://restfulapi.net">API RESTful</a> que fornece informações sobre as regiões administrativas oficiais de Portugal (com base na <a href="https://www.dgterritorio.gov.pt/dados-abertos">Carta Administrativa Oficial de Portugal, 2021</a>). Inclui informação sobre Portugal Continental, Açores e Madeira. Também fornece informações sobre os códigos postais (obtido e atualizado do <a href="https://www.ctt.pt/feapl_2/app/restricted/postalCodeSearch/postalCodeDownloadFiles.jspx">sítio dos CTT</a> e do INE em Dezembro de 2023) e os censos estatísticos (CENSOS 2021). O projeto é <a href="https://github.com/jfoclpf/geoapi.pt">código aberto</a>, e de uso gratuito, sendo financiado inteiramente por donativos no <a href="https://en.liberapay.com/joaopimentel1980">Liberapay</a> ou <a href="https://github.com/sponsors/jfoclpf">GitHub Sponsors</a>.
      </p>
      <p class="text-justify lead">
         A API está disponível no endpoint <code>geoapi.pt</code>. Não requer autenticação, tendo um limite por IP de 900 pedidos por cada 15 minutos — isto é, 1 pedido por segundo em média. A documentação da API encontra-se em <a href="https://docs.geoapi.pt">docs.geoapi.pt</a>, mas a funcionalidade da API pode também ser explorada interativamente através deste website. Experimente interagir com o mapa abaixo, ou os formulários a seguir.
      </p>
   </div>
</div>

{{> myLocationButton}}

{{> resultMap}}

<div class="cards">
   {{> districtQuery}}
   {{> municipalityQuery}}
   {{> parishQuery}}
   {{> cpQuery}}
   {{> locationQuery}}
</div>

{{> footer}}

<data id="index-route-data" data-indexroute="{{{obj2dataAttribute data}}}"></data>

<script type="module" src="/js/index.js"></script>

</body>
</html>
