<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   
   <link rel="stylesheet" href="/lib/leaflet/leaflet.css">
   <script src="/lib/leaflet/leaflet.js"></script>
</head>
<body>

{{> bodyHeader}}
{{> resultMap}}
<hr>
{{> docsTLDR}}

<data id="index-route-data" data-indexroute="{{{obj2dataAttribute data}}}"></data>

<script src="/js/index-route.js"></script>

</body>
</html>
