<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
</head>
<body>

{{> bodyHeader}}

<div class="limiter">
   <div class="container-table100">
      <p class="text-justify lead">
         <a href="https://restfulapi.net">API RESTful</a> que fornece informações sobre as regiões administrativas oficiais de Portugal (com base na <a href="https://www.dgterritorio.gov.pt/dados-abertos">Carta Administrativa Oficial de Portugal, 2022</a>). Inclui informação sobre Portugal Continental, Açores e Madeira. Também fornece informações sobre altimetria, códigos postais (obtido e atualizado do <a href="https://www.ctt.pt/feapl_2/app/restricted/postalCodeSearch/postalCodeDownloadFiles.jspx">sítio dos CTT</a> e do INE em Dezembro de 2023) e os censos estatísticos (CENSOS 2021).
      </p>
      <p class="text-justify lead">
         A API JSON está disponível no domínio <code>json.geoapi.pt</code>, é gratuita e não requer autenticação. A funcionalidade da API pode também ser explorada interativamente através deste website. Experimente interagir com o mapa abaixo, ou os formulários a seguir.
      </p>
   </div>
</div>

{{> myLocationButton}}

{{> resultMap}}

<div class="cards">
   {{> districtQuery}}
   {{> municipalityQuery}}
   {{> parishQuery}}
   {{> cpQuery}}
   {{> locationQuery}}
</div>

{{> footer}}

<data id="index-route-data" data-indexroute="{{{obj2dataAttribute data}}}"></data>

<script type="module" src="/js/index.js"></script>

</body>
</html>
