<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   
   <link rel="stylesheet" href="/lib/leaflet/leaflet.css">
   <script src="/lib/leaflet/leaflet.js"></script>
</head>
<body>

{{> bodyHeader}}
{{> myLocalButton}}
{{> resultMap}}
<hr>
{{> cpQuery}}
<hr>
{{> parishQuery}}
<hr>
{{> docsTLDR}}
{{> jsonOrHtmlDocs}}

<data id="index-route-data" data-indexroute="{{{obj2dataAttribute data}}}"></data>

<script type="module" src="/js/getAuthorityInfo.js"></script>
<script type="module" src="/js/getPostalCodesInfo.js"></script>
<script type="module" src="/js/index-route.js"></script>

</body>
</html>
