<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   {{> includeLeaflet}}
</head>
<body>

{{> bodyHeader}}

<div class="limiter">
   <div class="container-table100">
      <p class="text-justify lead">
         API RESTful que fornece informações sobre as regiões administrativas oficiais de Portugal (com base na "Carta Administrativa Oficial de Portugal, 2021"). Inclui informação sobre Portugal Continental, Açores e Madeira. Também fornece informações sobre os Códigos Postais e os Censos. Esta API faz uso de NodeJS (muito mais rápido do que Python) para criar um servidor HTTP que permite vários pedidos GET. Pré-processa todos os dados brutos para uma entrega rápida em tempo real.
      </p>
   </div>
</div>

{{> myLocalButton}}

{{> resultMap}}

<div class="cards">
   {{> districtQuery}}
   {{> municipalityQuery}}
   {{> parishQuery}}
   {{> cpQuery}}
   {{> localeQuery}}
</div>

{{> footer}}

<data id="index-route-data" data-indexroute="{{{obj2dataAttribute data}}}"></data>

<script type="module" src="/js/index.js"></script>

</body>
</html>
