<!DOCTYPE html>
<html>
<head>
   {{> htmlHead}}
</head>
<body>

{{> bodyHeader}}

<div class="limiter" style="padding: 3% 10% 0 10%;">
   <div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
           <th scope="col">Caminho</th>
           <th scope="col">Propósito</th>
           <th scope="col">Exemplo</th>
         </tr>
       </thead>
      <tbody>
         <tr>
            <th scope="row">/gps/{latitude},{longitude}</th>
            <td>Distrito, Município e Freguesia através de coordenadas GPS</td>
            <td><a href="/gps/40.153687,-8.514602">/gps/40.153687,-8.514602</a></td>
         </tr>
         <tr>
            <th scope="row">/municipios/{município}</th>
            <td>Detalhes sobre Município</td>
            <td><a href="/municipios/évora">/municipios/évora</a></td>
         </tr>
         <tr>
            <th scope="row">/municipios/{município}/freguesias</th>
            <td>Lista de Freguesias no Município</td>
            <td><a href="/municipios/porto/freguesias">/municipios/porto/freguesias</a></td>
         </tr>
         <tr>
            <th scope="row">/freguesias/{freguesia}</th>
            <td>Detalhes sobre Freguesia</td>
            <td><a href="/freguesias/serzedelo">/freguesias/serzedelo</a></td>
         </tr>
         <tr>
            <th scope="row">/distritos/municipios</th>
            <td>Municípios por Distrito</td>
            <td><a href="/distritos/municipios">/distritos/municipios</a></td>
         </tr>
         <tr>
            <th scope="row">/distritos</th>
            <td>Lista de Distrito</td>
            <td><a href="/distritos">/distritos</a></td>
         </tr>
         <tr>
            <th scope="row">/cp/{CP4-CP3}</th>
            <td>Detalhes sobre Código Postal CP4-CP3</td>
            <td><a href="/cp/2495-300">/cp/2495-300</a></td>
         </tr>
         <tr>
         <th scope="row">/cp/{CP4}</th>
            <td>Detalhes sobre Código Postal CP4</td>
            <td><a href="/cp/2495">/cp/2495</a></td>
         </tr>
       </tbody>
   </table>
   </div>
   <p>Para quaisquer resultados em JSON basta adicionar a variável <code>json=1</code> ao pedido GET (<a href="/cp/2495-300?json=1">exemplo</a>), ou colocar <code>Accept: application/json</code> no cabeçalho HTTP.</p>
</div>

<div class="limiter" style="padding: 2% 10%;">
   <h2>Obter informação de Código Postal</h2>
   <p>Código Javascript <a href="https://github.com/jfoclpf/geoapi.pt/blob/main/src/public/js/getPostalCodesInfo.js">aqui</a></p>
   
   <label for="select-codigo-postal">Código Postal</label>
   <input type="text" id="codigo-postal" class="border rounded" name="codigo-postal" placeholder="1234-567" required minlength="8" maxlength="8" size="10">
   <br>

   <table class="table">
     <tbody id="result-codigo-postal">
     </tbody>
   </table>   
</div>

<div class="limiter" style="padding: 2% 10%;">
   <h2>Obter informação de Freguesia</h2>
   <p>Código Javascript <a href="https://github.com/jfoclpf/geoapi.pt/blob/main/src/public/js/getAuthorityInfo.js">aqui</a></p>
   
   <label for="select-municipio">Município</label>
   <select class="form-control" id="select-municipio"></select>
   <label for="select-freguesia">Junta de Freguesia</label>
   <select class="form-control" id="select-freguesia"></select><br>

   <table class="table">
     <tbody id="result-freguesia">
     </tbody>
   </table>
</div>

<script src="/js/getPostalCodesInfo.js" type="text/javascript"></script>
<script src="/js/getAuthorityInfo.js" type="text/javascript"></script>

</body>
</html>
