<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   <link rel="stylesheet" type="text/css" href="/css/import-bootstrap.js.css" />
   <link rel="stylesheet" href="/css/json-beauty.css">
</head>
<body>

{{> bodyHeader}}

<div class="limiter">
   <div>
      <pre>
         {{{ jsonBeautyHtml }}}
      </pre>
   </div>
</div>

{{> footer}}

<script type="module" src="/js/import-bootstrap.js"></script>

</body>
</html>
