<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   <link rel="stylesheet" type="text/css" href="/css/components-basic.js.css">
</head>
<body>

{{> bodyHeader}}

<div class="limiter">
  <p class="text-center h2"><br></p>
  <p class="text-center h2">
    Atingiu o limite máximo diário de pedidos
  </p>
  <div class="container-table100">
    <p class="text-justify lead">
      Esta plataforma é de acesso gratuito mas limitada no número de pedidos diários. 
      Caso queira acesso ilimitado a esta plataforma <a href="/request-api-key">peça uma chave de acesso</a>.
    </p>
  </div>
</div>

{{> footer}}

<script type="module" src="/js/components-basic.js"></script>

</body>
</html>
