<!DOCTYPE html>
<html>
<head>
   {{> htmlHead}}
   
   <link rel="stylesheet" href="/lib/leaflet/leaflet.css">
   <script src="/lib/leaflet/leaflet.js"></script>
</head>
<body>

{{> bodyHeader}}

<div class="limiter">
   <div class="container-table100">
      {{{ pageDescription }}}
   </div>
   <div class="container-table100">
      {{{obj2html input}}}
   </div>
   <div class="map-div">
      <div id="map"></div>
   </div>
   <div class="container-table100">
      {{{obj2html processedData}}}
   </div>
</div>

<data id="postcode-data" data-postcode="{{{obj2dataAttribute data}}}"></data>

<script src="/js/postal-code.js"></script>

</body>
</html>
