<!DOCTYPE html>
<html lang="pt-pt">
<head>
   {{> htmlHead}}
   <link rel="stylesheet" type="text/css" href="/css/components-basic.js.css">
</head>
<body>

{{> bodyHeader}}

<div class="limiter">
  <p class="text-center h2"><br></p>
  <p class="text-center h2">
    Peça uma chave para uso ilimitado
  </p>
  <div class="container-table100">
    <p class="text-justify lead">
      Caso queira ter acesso ilimitado a este serviço terá de o subscrever.
    </p>
    <p class="text-justify lead">
      Após ter efectuado a subscrição, receberá uma chave que a poderá inserir no menu disponível no canto superior direito desta página.
      Após a introdução da chave no navegador, deverá ver o ícone da chave no canto superior direito a verde: <i class="fa-solid fa-key green"></i>.
    </p>
    <p class="text-justify lead">
      Após o pagamento, caso haja algum problema ou não tenha recebido a chave, <a href="mailto:joao.pimentel.ferreira@gmail.com">contacte-nos</a>.
    </p>
  </div>
  <div class="container-table100">
    <p class="text-center h3">
      API JSON
    </p>
    <p class="text-justify lead">
      A subscrição também inclui o acesso ilimitado à API JSON, que é acessível através do domínio <code>json.geoapi.pt</code>, e cuja documentação se encontra <a href="/docs">aqui</a>.
    </p>
    <p class="text-justify lead">
      A chave é inserida na variável 'key' da <i>query</i> GET:<br>
      <code>https://json.geoapi.pt/gps/38.748406,-9.102984?key=abcdef12345</code><br>
      <br>
      Ou inserida no cabeçalho HTTP:<br>
      <code>X-API-Key: abcdef12345</code><br>
    </p>
  </div>
  <div class="container-table100">
    <div class="mx-auto">
      <script async
        src="https://js.stripe.com/v3/buy-button.js">
      </script>

      <stripe-buy-button
        buy-button-id="buy_btn_1PLNg5F0K7fIozWK3IP8cyGn"
        publishable-key="pk_live_51PLNS2F0K7fIozWKusN9ZLqxyoGdErFrxcwUlWDXvTQZOHJEUUumCWfwVTCSnj8VM8sEIyyks73krTpXHgCh7rk700c06TFoKA"
      >
      </stripe-buy-button>
    </div>
  </div>
</div>

{{> footer}}

<script type="module" src="/js/components-basic.js"></script>

</body>
</html>
