<!DOCTYPE html>
<html>
<head>
   {{> htmlHead}}
</head>
<body>

{{> bodyHeader}}

<div class="limiter">
      {{{obj2html input}}}
   </div>
   <div class="container-table100">
      {{{obj2html data typeOfLink}}}
   </div>
</div>

</body>
</html>
