@font-face {
	font-family: Poppins-Regular;
	src: url(../fonts/poppins/Poppins-Regular.ttf)
}

@font-face {
	font-family: Poppins-Bold;
	src: url(../fonts/poppins/Poppins-Bold.ttf)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: sans-serif
}

body {
	background-color: #fbfbfb !important;
}

a {
	margin: 0;
	transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s
}

a:focus {
	outline: none !important
}

#project_title a, 
#project_title a:hover, 
#project_title a:focus, 
#project_title a:active
a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0
}

p {
	margin: 0
}

ul,
li {
	margin: 0;
	list-style-type: none
}

input {
	display: block;
	outline: none;
	border: none !important
}

select.form-control {
	max-width: 600px;
}

#select-municipio.form-control {
	max-width: 300px;
}

#select-freguesia.form-control {
	max-width: 800px;
}

textarea {
	display: block;
	outline: none
}

textarea:focus {
	border-color: transparent !important
}

button {
	outline: none !important;
	border: none;
	background: 0 0
}

button:hover {
	cursor: pointer
}

iframe {
	border: none !important
}

.limiter {
	width: 100%;
	margin: 0 auto;
	background-color: #fbfbfb;
}

.table-info2, .table-info2>td, .table-info2>th {
	background-color: #e8f8fb;	
}

.container-table100 {
	width: 100%;
	background: #fbfbfb;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 10%;
	max-width: 1500px;
	margin: 0 auto;
}

.container-header {
	justify-content: center;
}

.wrap-table100 {
	width: 960px;
	border-radius: 10px;
	overflow: hidden;
}

.map-div {
	background: #f2f2f2;
	padding: 20px 10%;
}

#map { 
	height: 500px;
	border-radius: 10px;
}

#header_wrap {
	background: linear-gradient(to top, #373737, #212121);
}

#header_wrap .inner {
	padding: 20px 10px 14px 10px;
}

.inner {
	position: relative;
	max-width: 640px;
	padding: 20px 10px;
	margin: 0 auto;
}

#forkme_banner {
	display: block;
	position: absolute;
	text-decoration: none;
	top: 0;
	right: 10px;
	z-index: 10;
	padding: 10px 50px 10px 10px;
	color: #fff;
	background: url(/img/blacktocat.png) #0090ff no-repeat 95% 50%;
	font-weight: 700;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

#project_title {
	margin: 0;
	color: #fff;
	font-size: 42px;
	font-weight: 700;
	text-shadow: #111 0px 0px 10px;
	margin-bottom: 14px;
}

#project_tagline {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	background: none;
	text-shadow: #111 0px 0px 10px;
	padding-bottom: 15px;
}

@media (max-width:480px) {
	.container-table100 {
		padding: 15px 2%;
		font-size: 0.75em;
	}
}