<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm">   
   <h4 class="my-2 mr-md-auto font-weight-bold text-nowrap">
      <a class="text-decoration-none" href="/">
         {{{mainTitle}}}
      </a>
   </h4>
   <h5 class="my-0 ml-4 mr-md-auto font-weight-small"><small>{{{siteDescription}}}</small></h5>
   <nav class="my-2 ml-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark text-nowrap" href="/docs">Documentação API JSON</a>
      <span class="p-2 text-dark text-decoration-none text-nowrap">Pedidos / hora: {{{requestsLastHour}}}</span>
      <span class="p-2 text-dark text-decoration-none text-nowrap">Pedidos / dia: {{{requestsLastDay}}}</span>
   </nav>

   <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
         Premium
      </button>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="/request-api-key">Pedir chave</a>
         <a class="dropdown-item" href="/self-hosting">Self-hosting</a>
      </div>
   </div>

</div>