<div class="map-related-info">
  <div class="container">
    <p class="h3 pb-5 text-center">Indivíduos</p>
    <div class="row">
      <div class="col-12">
        <canvas height="400" id="censos-individuos-por-idade"></canvas>
      </div>
    </div>
    <p class="h3 py-5 text-center">Edifícios</p>
    <div class="row">
      <div class="col-8">
        <canvas height="400" id="censos-edificios-data-constr"></canvas>
      </div>
      <div class="col-4">
        <canvas height="400" id="censos-edificios-por-num-pisos"></canvas>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-7">
        <canvas height="400" id="censos-edificios-por-tipo-constr"></canvas>
      </div>
      <div class="col-5">
        <canvas height="400" id="censos-edificios-por-utiliz"></canvas>
      </div>
    </div>
    <p class="h3 py-5 text-center edificios">Edifícios Clássicos</p>
    <div class="row">
      <div class="col-6">
        <canvas height="400" id="censos-edificios-classicos-num-aloj"></canvas>
      </div>
      <div class="col-6">
        <canvas height="400" id="censos-edificios-classicos-disp-urbana"></canvas>
      </div>
    </div>
  </div>  
</div>
