<div class="card">
  <h5 class="card-title">Obter informação de um código postal</h5>
  <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="codigo-postal-text">Código postal:</div>
      </div>
      <input type="text" id="postal-code-input" class="form-control" placeholder="1234 ou 1234-567" aria-label="Input group example" aria-describedby="codigo-postal-text">
    </div>
    <button type="button" id="get-postal-code-info-button" class="btn btn-info" disabled>Dados gerais</button>
  </div>
</div>
