<div class="limiter main-padding">
  <table class="table">
    <thead>
      <tr>
        <th scope="row" class="table-info2">Obter informação de CÓDIGO POSTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" id="codigo-postal" class="border rounded" name="codigo-postal" placeholder="1234-567" required minlength="8" maxlength="8" size="10">
        </td>
      </tr>
    </tbody>
  </table>
  
  <table id="result-codigo-postal-table" class="table table-hover">
    <tbody id="result-codigo-postal">
    </tbody>
  </table>   
</div>
