<div class="limiter main-padding">
  <table class="table">
    <thead>
      <tr>
        <th colspan="3" scope="row" class="table-info2">Obter informação de um <span class="text-primary">distrito</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="width_50perc">
          <div class="form-group">
            <label for="select-district">Selecione distrito</label>
            <select class="form-control" id="select-district"></select>
          </div>
        </td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="select-district-radios" id="radio-district-info" value="info" checked>
            <label class="form-check-label" for="radio-district-info">
              Detalhes sobre o distrito
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="select-district-radios" id="radio-district-municipalities" value="municipalities">
            <label class="form-check-label" for="radio-district-municipalities">
              Lista de municípios do distrito
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="select-district-radios" id="radio-district-parishes" value="parishes">
            <label class="form-check-label" for="radio-district-parishes">
              Lista de freguesias do distrito
            </label>
          </div>
        </td>
      </tr>
    </tbody>  
  </table>
</div>