<div class="card">
  <h5 class="card-title">Obter informação de um Distrito</h5>
  <div class="btn-group-vertical" role="group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="select-district">Distrito</label>
      </div>
      <select class="custom-select" id="select-district">
        <option value="0" selected>Selecione...</option>
      </select>
    </div>
    <button type="button" id="get-district-info-button" class="btn btn-info">Dados gerais</button>
    <button type="button" id="get-district-municipalities-button" class="btn btn-info ">Lista de municípios</button>
    <button type="button" id="get-district-parishes-button" class="btn btn-info">Lista de freguesias</button>
  </div>
</div>