<div class="footer-basic">
  <footer>
      <ul class="list-inline">
          <li class="list-inline-item"><a target="_blank" rel="noopener noreferrer" href="https://github.com/sponsors/jfoclpf/sponsorships?sponsor=jfoclpf&preview=true&frequency=one-time&amount=99">Uso ilimitado da API através de <i>self-hosting</i></a></li>
          <li class="list-inline-item"><a href="/docs">Documentação JSON API</a></li>
          <li class="list-inline-item"><a href="//en.liberapay.com/joaopimentel1980/donate">Fazer um donativo</a></li>
          <li class="list-inline-item"><a href="mailto:joao.pimentel.ferreira@gmail.com">Contacto</a></li>
      </ul>
      <p class="copyright">geoapi.pt</p>
  </footer>
</div>