<div class="footer-basic">
  <footer>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="//github.com/jfoclpf/geoapi.pt">Github</a></li>
          <li class="list-inline-item"><a href="//github.com/jfoclpf/geoapi.pt/issues">Sugestões</a></li>
          <li class="list-inline-item"><a href="//docs.geoapi.pt/">Documentação JSON API</a></li>
          <li class="list-inline-item"><a href="//en.liberapay.com/joaopimentel1980/donate">Fazer um donativo</a></li>
      </ul>
      <p class="copyright">geoapi.pt</p>
  </footer>
</div>