<div class="limiter footer-padding" style="width: fit-content;">
   <p>Para resultados em <b>JSON</b> pode usar <b>uma</b> das seguintes opções:</p> 
   <div>
      <ul>
         <li>- adicionar a variável <code>json=1</code> ao pedido GET, ex: <a href="/codigo_postal/2495-300?json=1">/codigo_postal/2495-300?json=1</a>;</li>
         <li>- colocar <code>Accept: application/json</code> no cabeçalho HTTP do pedido; ou</li>
         <li>- aceder a <code>json.geoapi.pt</code>, ex: <a href="//json.geoapi.pt/codigo_postal/2495-300">json.geoapi.pt/codigo_postal/2495-300</a></li>
      </ul>
   </div>
</div>