<div class="card">
  <h5 class="card-title">Obter informação de um Local</h5>
  <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="latitude-gps-info">Latitude:</div>
      </div>
      <input type="text" id="latitude-gps-input" class="form-control" placeholder="38.748406" aria-label="Latitude" aria-describedby="latitude-gps-info">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="longitude-gps-info">Longitude:</div>
      </div>
      <input type="text" id="longitude-gps-input" class="form-control" placeholder="-9.102984" aria-label="Longitude" aria-describedby="longitude-gps-info">
    </div>
    <button type="button" id="get-location-info-button" class="btn btn-info">Detalhes sobre local</button>
  </div>
</div>
