<div class="limiter main-padding">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2" scope="row" class="table-info2">Obter informação de um MUNICÍPIO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="width_50perc">
          <div class="form-group">
            <label for="select-municipality-info">Selecione municipio</label>
            <select class="form-control" id="select-municipality-info"></select>
          </div>
        </td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="select-municipality-radios" id="radio-municipality-info" value="info" checked>
            <label class="form-check-label" for="radio-municipality-info">
              Detalhes sobre o município
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="select-municipality-radios" id="radio-municipality-parishes" value="parishes">
            <label class="form-check-label" for="radio-municipality-parishes">
              Lista de freguesias do município
            </label>
          </div>
        </td>
      </tr>
    </tbody>  
  </table>
</div>