<div class="card">
  <h5 class="card-title">Obter informação de um município</h5>
  <div class="btn-group-vertical" role="group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="select-municipality-info">Município</label>
      </div>
      <select class="custom-select" id="select-municipality-info">
        <option selected>Selecione...</option>
      </select>
    </div>
    <button type="button" id="get-municipality-info-button" class="btn btn-info" disabled>Dados gerais</button>
    <button type="button" id="get-municipality-parishes-button" class="btn btn-info" disabled>Lista de freguesias</button>
  </div>
</div>
