<div class="card card-with-select">
  <h5 class="card-title">Obter informação de uma freguesia</h5>
  <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="select-municipality-on-parish-info">Município</label>
      </div>
      <select class="custom-select" id="select-municipality-on-parish-info">
        <option value="0" selected>Selecione...</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="select-parish-on-parish-info">Freguesia</label>
      </div>
      <select class="custom-select" id="select-parish-on-parish-info" disabled>
      </select>
    </div>
    <button type="button" id="get-parish-info-button" class="btn btn-info" disabled>Dados gerais</button>
    <button type="button" id="get-parish-sections-button" class="btn btn-info" disabled>Lista de secções estatísticas</button>
    <button type="button" id="get-parish-subsections-button" class="btn btn-info" disabled>Lista de subsecções estatísticas</button>
  </div>
</div>
