<div class="limiter main-padding">
  <table class="table">
    <thead>
      <tr>
        <th colspan="3" scope="row" class="table-info2">Obter informação de FREGUESIA</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="select-parish-radios" id="radio-parish-info" value="info" checked>
            <label class="form-check-label" for="radio-parish-info">
              Detalhes sobre a freguesia
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="select-parish-radios" id="radio-parish-sections" value="sections">
            <label class="form-check-label" for="radio-parish-sections">
              Lista de secções estatísticas (INE) da freguesia
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="select-parish-radios" id="radio-parish-subsections" value="subsections">
            <label class="form-check-label" for="radio-parish-subsections">
              Lista de subsecções estatísticas (INE) da freguesia
            </label>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="select-municipio">Município</label>
            <select class="form-control" id="select-municipio"></select>
          </div>
        </td>
        <td class="width_33perc">
          <div class="form-group">
            <label for="select-freguesia">Freguesia</label>
            <select class="form-control" id="select-freguesia"></select>
          </div>
        </td>
      </tr>
    </tbody>  
  </table>
</div>