<div class="limiter main-padding">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2" scope="row" class="table-info2">Obter informação de Freguesia</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="width_50perc">
          <label for="select-municipio">Município</label>
          <select class="form-control" id="select-municipio"></select>
        </td>
        <td>
          <label for="select-freguesia">Junta de Freguesia</label>
          <select class="form-control" id="select-freguesia"></select>
        </td>
      </tr>
    </tbody>  
  </table>
</div>