<div class="shareon">
  <a class="facebook" aria-label="facebook share button"></a>
  <a class="linkedin" aria-label="linkedin share button"></a>
  <a class="twitter" aria-label="twitter share button"></a>
  <a class="whatsapp" aria-label="whatsapp share button"></a>
</div>