openapi: 3.0.1
info:
  title: GEO API PT
  description: Dados gratuitos e abertos para Portugal sobre regiões administrativas oficiais, georreferenciação, censos e códigos postais
  version: '1.0'
  license:
    name: GNU General Public License v3.0
    url: https://github.com/jfoclpf/geoapi.pt/blob/main/LICENSE

servers:
  - url: https://json.geoapi.pt

components:
  parameters:
    json:
      in: query
      name: json
      required: false
      schema:
        type: string
        default: '0'
        enum:
          - '0'
          - '1'
          - 'true'
          - 'false'
      description: Ativa resposta em JSON
      examples:
        '1':
          value: '1'
          summary: Ativa resposta em JSON
        'true':
          value: 'true'
          summary: Ativa resposta em JSON
    ext-apis:
      in: query
      name: ext-apis
      required: false
      schema:
        type: string
        default: '1'
        enum:
          - '0'
          - '1'
          - 'true'
          - 'false'
      description: Quando desativada, não recorre a APIs externas tornando o pedido muito mais rápido
      examples:
        '0':
          value: '0'
          summary: Não recorre a APIs externas
        'false':
          value: 'false'
          summary: Não recorre a APIs externas
  schemas:
    listaDeMunicipios:
      type: array
      items:
        type: string
      example: ["Abrantes","Aguiar da Beira","Alandroal","Albergaria-a-velha","Albufeira","Alcanena","Alcobaça","Alcochete","Alcoutim","Alcácer do Sal","Alenquer","Alfândega da fé","Alijó","Aljezur","Aljustrel","Almada","Almeida","Almeirim","Almodôvar","Alpiarça","Alter do Chão","Alvaiázere","Alvito","Amadora","Amarante","Amares","Anadia","Angra do Heroísmo","Ansião","Arcos de Valdevez","Arganil","Armamar","Arouca","Arraiolos","Arronches","Arruda Dos Vinhos","Aveiro","Avis","Azambuja","Baião","Barcelos","Barrancos","Barreiro","Batalha","Beja","Belmonte","Benavente","Bombarral","Borba","Boticas","Braga","Bragança","Cabeceiras de Basto","Cadaval","Caldas da Rainha","Calheta","Calheta de São Jorge","Caminha","Campo Maior","Cantanhede","Carrazeda de Ansiães","Carregal do Sal","Cartaxo","Cascais","Castanheira de Pêra","Castelo Branco","Castelo de Paiva","Castelo de Vide","Castro Daire","Castro Marim","Castro Verde","Celorico da Beira","Celorico de Basto","Chamusca","Chaves","Cinfães","Coimbra","Condeixa-a-nova","Constância","Coruche","Corvo","Covilhã","Crato","Cuba","Câmara de Lobos","Elvas","Entroncamento","Espinho","Esposende","Estarreja","Estremoz","Fafe","Faro","Felgueiras","Ferreira do Alentejo","Ferreira do Zêzere","Figueira da Foz","Figueira de Castelo Rodrigo","Figueiró Dos Vinhos","Fornos de Algodres","Freixo de Espada à Cinta","Fronteira","Funchal","Fundão","Gavião","Golegã","Gondomar","Gouveia","Grândola","Guarda","Guimarães","Góis","Horta","Idanha-a-nova","Lagoa","Lagoa (açores)","Lagos","Lajes Das Flores","Lajes do Pico","Lamego","Leiria","Lisboa","Loulé","Loures","Lourinhã","Lousada","Lousã","Macedo de Cavaleiros","Machico","Madalena","Mafra","Maia","Mangualde","Manteigas","Marco de Canaveses","Marinha Grande","Marvão","Matosinhos","Mação","Mealhada","Melgaço","Mesão Frio","Mira","Miranda do Corvo","Miranda do Douro","Mirandela","Mogadouro","Moimenta da Beira","Moita","Monchique","Mondim de Basto","Monforte","Montalegre","Montemor-o-novo","Montemor-o-velho","Montijo","Monção","Mora","Mortágua","Moura","Mourão","Murtosa","Murça","Mértola","Mêda","Nazaré","Nelas","Nisa","Nordeste","Odemira","Odivelas","Oeiras","Oleiros","Olhão","Oliveira de Azeméis","Oliveira de Frades","Oliveira do Bairro","Oliveira do Hospital","Ourique","Ourém","Ovar","Palmela","Pampilhosa da Serra","Paredes","Paredes de Coura","Paços de Ferreira","Pedrógão Grande","Penacova","Penafiel","Penalva do Castelo","Penamacor","Penedono","Penela","Peniche","Peso da Régua","Pinhel","Pombal","Ponta Delgada","Ponta do Sol","Ponte da Barca","Ponte de Lima","Ponte de Sor","Portalegre","Portel","Portimão","Porto","Porto Moniz","Porto Santo","Porto de Mós","Povoação","Praia da Vitória","Proença-a-nova","Póvoa de Lanhoso","Póvoa de Varzim","Redondo","Reguengos de Monsaraz","Resende","Ribeira Brava","Ribeira Grande","Ribeira de Pena","Rio Maior","Sabrosa","Sabugal","Salvaterra de Magos","Santa Comba Dão","Santa Cruz","Santa Cruz Das Flores","Santa Cruz da Graciosa","Santa Maria da Feira","Santa Marta de Penaguião","Santana","Santarém","Santiago do Cacém","Santo Tirso","Sardoal","Seia","Seixal","Sernancelhe","Serpa","Sertã","Sesimbra","Setúbal","Sever do Vouga","Silves","Sines","Sintra","Sobral de Monte Agraço","Soure","Sousel","Sátão","São Brás de Alportel","São João da Madeira","São João da Pesqueira","São Pedro do Sul","São Roque do Pico","São Vicente","Tabuaço","Tarouca","Tavira","Terras de Bouro","Tomar","Tondela","Torre de Moncorvo","Torres Novas","Torres Vedras","Trancoso","Trofa","Tábua","Vagos","Vale de Cambra","Valença","Valongo","Valpaços","Velas","Vendas Novas","Viana do Alentejo","Viana do Castelo","Vidigueira","Vieira do Minho","Vila Flor","Vila Franca de Xira","Vila Franca do Campo","Vila Nova da Barquinha","Vila Nova de Cerveira","Vila Nova de Famalicão","Vila Nova de Foz Côa","Vila Nova de Gaia","Vila Nova de Paiva","Vila Nova de Poiares","Vila Pouca de Aguiar","Vila Real","Vila Real de Santo António","Vila Velha de Ródão","Vila Verde","Vila Viçosa","Vila de Rei","Vila do Bispo","Vila do Conde","Vila do Porto","Vimioso","Vinhais","Viseu","Vizela","Vouzela","Águeda","Évora","Ílhavo","Óbidos"]

    listaDeMunicipiosComFreguesias:
      type: array
      items:
        type: object
      example: [{"nome":"Abrantes","freguesias":["Bemposta","Carvalhal","Fontes","Martinchel","Mouriscas","Pego","Rio de Moinhos","Tramagal","União das freguesias de Abrantes (São Vicente e São João) e Alferrarede","União das freguesias de Aldeia do Mato e Souto","União das freguesias de Alvega e Concavada","União das freguesias de São Facundo e Vale das Mós","União das freguesias de São Miguel do Rio Torto e Rossio ao Sul do Tejo"]},{"nome":"Aguiar da Beira","freguesias":["Carapito","Cortiçada","Dornelas","Eirado","Forninhos","Pena Verde","Pinheiro","União das freguesias de Aguiar da Beira e Coruche","União das freguesias de Sequeiros e Gradiz","União das freguesias de Souto de Aguiar da Beira e Valverde"]}]

    listaDeFreguesias:
      type: array
      items:
        type: string
      example: ["A dos Francos (Caldas da Rainha)","A dos Negros (Óbidos)","Abade de Neiva (Barcelos)","Abadim (Cabeceiras de Basto)","Abambres (Mirandela)","Abaças (Vila Real)","Abedim (Monção)","..."]

    municipio:
      type: object
      properties:
        codigo: 
          type: string
          example: 2643
        nif: 
          type: string
          example: 504828576
        rua: 
          type: string
          example: Praça do Sertório
        localidade: 
          type: string
          example: EVORA
        codigopostal: 
          type: string
          example: 7004-506
        descrpostal: 
          type: string
          example: EVORA
        email: 
          type: string
          example: cmevora@cm-evora.pt
        telefone: 
          type: string
          example: 266777000
        fax: 
          type: string
          example: 266702950
        sitio: 
          type: string
          example: www.cm-evora.pt
        areaha: 
          type: string
          example: 1307.03
        populacao: 
          type: string
          example: 56596
        eleitores: 
          type: string
          example: 47923
        codigoine: 
          type: string
          example: 705
        nome: 
          type: string
          example: Évora
        distrito: 
          type: string
          example: ÉVORA
        censos2011: 
          type: object
          properties: 
            N_EDIFICIOS_CLASSICOS: 
              type: integer
              format: int32
              example: 20676
            N_EDIFICIOS_CLASSICOS_1OU2: 
              type: integer
              format: int32
              example: 18953
            N_EDIFICIOS_CLASSICOS_ISOLADOS: 
              type: integer
              format: int32
              example: 4280
            N_EDIFICIOS_CLASSICOS_GEMIN: 
              type: integer
              format: int32
              example: 4096
            N_EDIFICIOS_CLASSICOS_EMBANDA: 
              type: integer
              format: int32
              example: 10577
            N_EDIFICIOS_CLASSICOS_3OUMAIS: 
              type: integer
              format: int32
              example: 1408
            N_EDIFICIOS_CLASSICOS_OUTROS: 
              type: integer
              format: int32
              example: 315
            N_EDIFICIOS_EXCLUSIV_RESID: 
              type: integer
              format: int32
              example: 19801
            N_EDIFICIOS_PRINCIPAL_RESID: 
              type: integer
              format: int32
              example: 656
            N_EDIFICIOS_PRINCIP_NAO_RESID: 
              type: integer
              format: int32
              example: 219
            N_EDIFICIOS_1OU2_PISOS: 
              type: integer
              format: int32
              example: 19312
            N_EDIFICIOS_3OU4_PISOS: 
              type: integer
              format: int32
              example: 1275
            N_EDIFICIOS_CONSTR_ANTES_1919: 
              type: integer
              format: int32
              example: 1140
            N_EDIFICIOS_CONSTR_1919A1945: 
              type: integer
              format: int32
              example: 3066
            N_EDIFICIOS_CONSTR_1946A1960: 
              type: integer
              format: int32
              example: 2735
            N_EDIFICIOS_CONSTR_1961A1970: 
              type: integer
              format: int32
              example: 2376
            N_EDIFICIOS_CONSTR_1971A1980: 
              type: integer
              format: int32
              example: 2528
            N_EDIFICIOS_CONSTR_1981A1990: 
              type: integer
              format: int32
              example: 3847
            N_EDIFICIOS_CONSTR_1991A1995: 
              type: integer
              format: int32
              example: 1397
            N_EDIFICIOS_CONSTR_1996A2000: 
              type: integer
              format: int32
              example: 1235
            N_EDIFICIOS_CONSTR_2001A2005: 
              type: integer
              format: int32
              example: 1340
            N_EDIFICIOS_CONSTR_2006A2011: 
              type: integer
              format: int32
              example: 1012
            N_EDIFICIOS_ESTRUT_BETAO: 
              type: integer
              format: int32
              example: 10687
            N_EDIFICIOS_ESTRUT_COM_PLACA: 
              type: integer
              format: int32
              example: 7205
            N_EDIFICIOS_ESTRUT_SEM_PLACA: 
              type: integer
              format: int32
              example: 2039
            N_EDIFICIOS_ESTRUT_ADOBE_PEDRA: 
              type: integer
              format: int32
              example: 729
            N_EDIFICIOS_ESTRUT_OUTRA: 
              type: integer
              format: int32
              example: 16
            N_ALOJAMENTOS: 
              type: integer
              format: int32
              example: 29311
            N_ALOJAMENTOS_FAMILIARES: 
              type: integer
              format: int32
              example: 29204
            N_ALOJAMENTOS_FAM_CLASSICOS: 
              type: integer
              format: int32
              example: 29171
            N_ALOJAMENTOS_FAM_N_CLASSICOS: 
              type: integer
              format: int32
              example: 33
            N_ALOJAMENTOS_COLECTIVOS: 
              type: integer
              format: int32
              example: 107
            N_CLASSICOS_RES_HABITUAL: 
              type: integer
              format: int32
              example: 22424
            N_ALOJAMENTOS_RES_HABITUAL: 
              type: integer
              format: int32
              example: 22457
            N_ALOJAMENTOS_VAGOS: 
              type: integer
              format: int32
              example: 3618
            N_RES_HABITUAL_COM_AGUA: 
              type: integer
              format: int32
              example: 22330
            N_RES_HABITUAL_COM_RETRETE: 
              type: integer
              format: int32
              example: 22250
            N_RES_HABITUAL_COM_ESGOTOS: 
              type: integer
              format: int32
              example: 22350
            N_RES_HABITUAL_COM_BANHO: 
              type: integer
              format: int32
              example: 22014
            N_RES_HABITUAL_AREA_50: 
              type: integer
              format: int32
              example: 2744
            N_RES_HABITUAL_AREA_50_100: 
              type: integer
              format: int32
              example: 9142
            N_RES_HABITUAL_AREA_100_200: 
              type: integer
              format: int32
              example: 9110
            N_RES_HABITUAL_AREA_200: 
              type: integer
              format: int32
              example: 1428
            N_RES_HABITUAL_1_2_DIV: 
              type: integer
              format: int32
              example: 604
            N_RES_HABITUAL_3_4_DIV: 
              type: integer
              format: int32
              example: 8035
            N_RES_HABITUAL_ESTAC_1: 
              type: integer
              format: int32
              example: 7972
            N_RES_HABITUAL_ESTAC_2: 
              type: integer
              format: int32
              example: 1719
            N_RES_HABITUAL_ESTAC_3: 
              type: integer
              format: int32
              example: 1090
            N_RES_HABITUAL_PROP_OCUP: 
              type: integer
              format: int32
              example: 14884
            N_RES_HABITUAL_ARREND: 
              type: integer
              format: int32
              example: 5853
            N_FAMILIAS_CLASSICAS: 
              type: integer
              format: int32
              example: 22774
            N_FAMILIAS_INSTITUCIONAIS: 
              type: integer
              format: int32
              example: 51
            N_FAMILIAS_CLASSICAS_1OU2_PESS: 
              type: integer
              format: int32
              example: 13010
            N_FAMILIAS_CLASSICAS_3OU4_PESS: 
              type: integer
              format: int32
              example: 8668
            N_FAMILIAS_CLASSICAS_NPES65: 
              type: integer
              format: int32
              example: 7570
            N_FAMILIAS_CLASSICAS_NPES14: 
              type: integer
              format: int32
              example: 5740
            N_FAMILIAS_CLASSIC_SEM_DESEMP: 
              type: integer
              format: int32
              example: 20154
            N_FAMILIAS_CLASSIC_1DESEMPREG: 
              type: integer
              format: int32
              example: 2350
            N_FAMILIAS_CLASS_2MAIS_DESEMP: 
              type: integer
              format: int32
              example: 270
            N_NUCLEOS_FAMILIARES: 
              type: integer
              format: int32
              example: 17250
            N_NUCLEOS_1FILH_NAO_CASADO: 
              type: integer
              format: int32
              example: 6496
            N_NUCLEOS_2FILH_NAO_CASADO: 
              type: integer
              format: int32
              example: 3674
            N_NUCLEOS_FILH_INF_6ANOS: 
              type: integer
              format: int32
              example: 2658
            N_NUCLEOS_FILH_INF_15ANOS: 
              type: integer
              format: int32
              example: 5680
            N_NUCLEOS_FILH_MAIS_15ANOS: 
              type: integer
              format: int32
              example: 6540
            N_INDIVIDUOS_PRESENT: 
              type: integer
              format: int32
              example: 55811
            N_INDIVIDUOS_PRESENT_H: 
              type: integer
              format: int32
              example: 26190
            N_INDIVIDUOS_PRESENT_M: 
              type: integer
              format: int32
              example: 29621
            N_INDIVIDUOS_RESIDENT: 
              type: integer
              format: int32
              example: 56596
            N_INDIVIDUOS_RESIDENT_H: 
              type: integer
              format: int32
              example: 26831
            N_INDIVIDUOS_RESIDENT_M: 
              type: integer
              format: int32
              example: 29765
            N_INDIVIDUOS_RESIDENT_0A4: 
              type: integer
              format: int32
              example: 2548
            N_INDIVIDUOS_RESIDENT_5A9: 
              type: integer
              format: int32
              example: 2702
            N_INDIVIDUOS_RESIDENT_10A13: 
              type: integer
              format: int32
              example: 2319
            N_INDIVIDUOS_RESIDENT_14A19: 
              type: integer
              format: int32
              example: 3409
            N_INDIVIDUOS_RESIDENT_15A19: 
              type: integer
              format: int32
              example: 2830
            N_INDIVIDUOS_RESIDENT_20A24: 
              type: integer
              format: int32
              example: 3065
            N_INDIVIDUOS_RESIDENT_20A64: 
              type: integer
              format: int32
              example: 34451
            N_INDIVIDUOS_RESIDENT_25A64: 
              type: integer
              format: int32
              example: 31386
            N_INDIVIDUOS_RESIDENT_65: 
              type: integer
              format: int32
              example: 11167
            N_INDIVIDUOS_RESIDENT_H_0A4: 
              type: integer
              format: int32
              example: 1329
            N_INDIVIDUOS_RESIDENT_H_5A9: 
              type: integer
              format: int32
              example: 1398
            N_INDIVIDUOS_RESIDENT_H_10A13: 
              type: integer
              format: int32
              example: 1201
            N_INDIVIDUOS_RESIDENT_H_14A19: 
              type: integer
              format: int32
              example: 1729
            N_INDIVIDUOS_RESIDENT_H_15A19: 
              type: integer
              format: int32
              example: 1433
            N_INDIVIDUOS_RESIDENT_H_20A24: 
              type: integer
              format: int32
              example: 1497
            N_INDIVIDUOS_RESIDENT_H_20A64: 
              type: integer
              format: int32
              example: 16495
            N_INDIVIDUOS_RESIDENT_H_25A64: 
              type: integer
              format: int32
              example: 14998
            N_INDIVIDUOS_RESIDENT_H_65: 
              type: integer
              format: int32
              example: 4679
            N_INDIVIDUOS_RESIDENT_M_0A4: 
              type: integer
              format: int32
              example: 1219
            N_INDIVIDUOS_RESIDENT_M_5A9: 
              type: integer
              format: int32
              example: 1304
            N_INDIVIDUOS_RESIDENT_M_10A13: 
              type: integer
              format: int32
              example: 1118
            N_INDIVIDUOS_RESIDENT_M_14A19: 
              type: integer
              format: int32
              example: 1680
            N_INDIVIDUOS_RESIDENT_M_15A19: 
              type: integer
              format: int32
              example: 1397
            N_INDIVIDUOS_RESIDENT_M_20A24: 
              type: integer
              format: int32
              example: 1568
            N_INDIVIDUOS_RESIDENT_M_20A64: 
              type: integer
              format: int32
              example: 17956
            N_INDIVIDUOS_RESIDENT_M_25A64: 
              type: integer
              format: int32
              example: 16388
            N_INDIVIDUOS_RESIDENT_M_65: 
              type: integer
              format: int32
              example: 6488
            N_INDIV_RESIDENT_N_LER_ESCRV: 
              type: integer
              format: int32
              example: 2844
            N_IND_RESIDENT_FENSINO_1BAS: 
              type: integer
              format: int32
              example: 2373
            N_IND_RESIDENT_FENSINO_2BAS: 
              type: integer
              format: int32
              example: 1334
            N_IND_RESIDENT_FENSINO_3BAS: 
              type: integer
              format: int32
              example: 2179
            N_IND_RESIDENT_FENSINO_SEC: 
              type: integer
              format: int32
              example: 2204
            N_IND_RESIDENT_FENSINO_POSSEC: 
              type: integer
              format: int32
              example: 85
            N_IND_RESIDENT_FENSINO_SUP: 
              type: integer
              format: int32
              example: 2879
            N_IND_RESIDENT_ENSINCOMP_1BAS: 
              type: integer
              format: int32
              example: 12069
            N_IND_RESIDENT_ENSINCOMP_2BAS: 
              type: integer
              format: int32
              example: 6644
            N_IND_RESIDENT_ENSINCOMP_3BAS: 
              type: integer
              format: int32
              example: 9093
            N_IND_RESIDENT_ENSINCOMP_SEC: 
              type: integer
              format: int32
              example: 9078
            N_IND_RESIDENT_ENSINCOMP_POSEC: 
              type: integer
              format: int32
              example: 508
            N_IND_RESIDENT_ENSINCOMP_SUP: 
              type: integer
              format: int32
              example: 8955
            N_IND_RESID_DESEMP_PROC_1EMPRG: 
              type: integer
              format: int32
              example: 577
            N_IND_RESID_DESEMP_PROC_EMPRG: 
              type: integer
              format: int32
              example: 2349
            N_IND_RESID_EMPREGADOS: 
              type: integer
              format: int32
              example: 24742
            N_IND_RESID_PENS_REFORM: 
              type: integer
              format: int32
              example: 13759
            N_IND_RESID_SEM_ACT_ECON: 
              type: integer
              format: int32
              example: 20780
            N_IND_RESID_EMPREG_SECT_PRIM: 
              type: integer
              format: int32
              example: 1039
            N_IND_RESID_EMPREG_SECT_SEQ: 
              type: integer
              format: int32
              example: 4350
            N_IND_RESID_EMPREG_SECT_TERC: 
              type: integer
              format: int32
              example: 19353
            N_IND_RESID_ESTUD_MUN_RESID: 
              type: integer
              format: int32
              example: 11325
            N_IND_RESID_TRAB_MUN_RESID: 
              type: integer
              format: int32
              example: 22177
        censos2021: 
          type: object
          properties: 
            N_EDIFICIOS_CLASSICOS: 
              type: integer
              format: int32
              example: 20823
            N_ALOJAMENTOS: 
              type: integer
              format: int32
              example: 29836
            N_AGREGADOS: 
              type: integer
              format: int32
              example: 22410
            N_INDIVIDUOS_RESIDENT: 
              type: integer
              format: int32
              example: 53591
        geojsons: 
          type: object
          properties: 
            freguesias: 
              type: array
              items: 
                type: object
                properties: 
                  type: 
                    type: string
                    example: Feature
                  properties: 
                    type: object
                    properties: 
                      Dicofre: 
                        type: string
                        example: 070513
                      Freguesia: 
                        type: string
                        example: Torre de Coelheiros
                      Concelho: 
                        type: string
                        example: Évora
                      Distrito: 
                        type: string
                        example: Évora
                      TAA: 
                        type: string
                        example: ÁREA PRINCIPAL
                      Area_T_ha: 
                        type: number
                        example: 22623.94
                      Area_EA_ha: 
                        type: number
                        example: 22623.94
                      Des_Simpli: 
                        type: string
                        example: Torre de Coelheiros
                      centros: 
                        type: object
                        properties: 
                          centro: 
                            type: array
                            items: 
                              type: number
                              example: -7.869710007686821
                          centroide: 
                            type: array
                            items: 
                              type: number
                              example: -7.883810672564878
                          centroDeMassa: 
                            type: array
                            items: 
                              type: number
                              example: -7.8698325191599805
                          centroMedio: 
                            type: array
                            items: 
                              type: number
                              example: -7.883797654349002
                          centroMediano: 
                            type: array
                            items: 
                              type: number
                              example: -7.883810672564878
                  geometry: 
                    type: object
                    properties: 
                      type: 
                        type: string
                        example: Polygon
                      coordinates: 
                        type: array
                        items: 
                          type: array
                          items: 
                            type: array
                            items: 
                              type: number
                              example: -7.849091090827416
                  bbox: 
                    type: array
                    items: 
                      type: number
                      example: -7.9747881764930515
            municipio: 
              type: object
              properties: 
                type: 
                  type: string
                  example: Feature
                properties: 
                  type: object
                  properties: 
                    Dicofre: 
                      type: string
                      example: 0705
                    centros: 
                      type: object
                      properties: 
                        centro: 
                          type: array
                          items: 
                            type: number
                            example: -7.860315626897443
                        centroide: 
                          type: array
                          items: 
                            type: number
                            example: -7.873525045879464
                        centroDeMassa: 
                          type: array
                          items: 
                            type: number
                            example: -7.8702187180592365
                        centroMedio: 
                          type: array
                          items: 
                            type: number
                            example: -7.873561778484244
                        centroMediano: 
                          type: array
                          items: 
                            type: number
                            example: -7.873525045879465
                geometry: 
                  type: object
                  properties: 
                    type: 
                      type: string
                      example: Polygon
                    coordinates: 
                      type: array
                      items: 
                        type: array
                        items: 
                          type: array
                          items: 
                            type: number
                            example: -8.165696184305354
                bbox: 
                  type: array
                  items: 
                    type: number
                    example: -8.165696184305354

    freguesia:
      type: object
      properties: 
        codigo: 
          type: string
          example: 7821
        nif: 
          type: string
          example: 507330609
        rua: 
          type: string
          example: Avª. João Paulo II lote 526 - 1º A
        localidade: 
          type: string
          example: Marvila
        codigopostal: 
          type: string
          example: 1950-159
        descrpostal: 
          type: string
          example: LISBOA
        email: 
          type: string
          example: info@jf-marvila.pt
        telefone: 
          type: string
          example: 218310350
        fax: 
          type: string
          example: 218310359
        sitio: 
          type: string
          example: www.jf-marvila.pt
        codigoine: 
          type: string
          example: 110621
        eleitores2011: 
          type: string
          example: 37125
        populacao2011: 
          type: string
          example: 38767
        areaha: 
          type: string
          example: 637.42
        nomecompleto: 
          type: string
          example: Marvila
        nome: 
          type: string
          example: Marvila
        municipio: 
          type: string
          example: Lisboa
        nomecompleto2: 
          type: string
          example: Marvila
        nomecompleto3: 
          type: string
          example: Marvila
        censos2011: 
          type: object
          properties: 
            N_EDIFICIOS_CLASSICOS: 
              type: integer
              format: int32
              example: 1553
            N_EDIFICIOS_CLASSICOS_1OU2: 
              type: integer
              format: int32
              example: 497
            N_EDIFICIOS_CLASSICOS_ISOLADOS: 
              type: integer
              format: int32
              example: 92
            N_EDIFICIOS_CLASSICOS_GEMIN: 
              type: integer
              format: int32
              example: 105
            N_EDIFICIOS_CLASSICOS_EMBANDA: 
              type: integer
              format: int32
              example: 300
            N_EDIFICIOS_CLASSICOS_3OUMAIS: 
              type: integer
              format: int32
              example: 1038
            N_EDIFICIOS_CLASSICOS_OUTROS: 
              type: integer
              format: int32
              example: 18
            N_EDIFICIOS_EXCLUSIV_RESID: 
              type: integer
              format: int32
              example: 1297
            N_EDIFICIOS_PRINCIPAL_RESID: 
              type: integer
              format: int32
              example: 237
            N_EDIFICIOS_PRINCIP_NAO_RESID: 
              type: integer
              format: int32
              example: 19
            N_EDIFICIOS_1OU2_PISOS: 
              type: integer
              format: int32
              example: 718
            N_EDIFICIOS_3OU4_PISOS: 
              type: integer
              format: int32
              example: 133
            N_EDIFICIOS_CONSTR_ANTES_1919: 
              type: integer
              format: int32
              example: 132
            N_EDIFICIOS_CONSTR_1919A1945: 
              type: integer
              format: int32
              example: 201
            N_EDIFICIOS_CONSTR_1946A1960: 
              type: integer
              format: int32
              example: 123
            N_EDIFICIOS_CONSTR_1961A1970: 
              type: integer
              format: int32
              example: 178
            N_EDIFICIOS_CONSTR_1971A1980: 
              type: integer
              format: int32
              example: 389
            N_EDIFICIOS_CONSTR_1981A1990: 
              type: integer
              format: int32
              example: 171
            N_EDIFICIOS_CONSTR_1991A1995: 
              type: integer
              format: int32
              example: 112
            N_EDIFICIOS_CONSTR_1996A2000: 
              type: integer
              format: int32
              example: 150
            N_EDIFICIOS_CONSTR_2001A2005: 
              type: integer
              format: int32
              example: 66
            N_EDIFICIOS_CONSTR_2006A2011: 
              type: integer
              format: int32
              example: 31
            N_EDIFICIOS_ESTRUT_BETAO: 
              type: integer
              format: int32
              example: 1018
            N_EDIFICIOS_ESTRUT_COM_PLACA: 
              type: integer
              format: int32
              example: 158
            N_EDIFICIOS_ESTRUT_SEM_PLACA: 
              type: integer
              format: int32
              example: 340
            N_EDIFICIOS_ESTRUT_ADOBE_PEDRA: 
              type: integer
              format: int32
              example: 31
            N_EDIFICIOS_ESTRUT_OUTRA: 
              type: integer
              format: int32
              example: 6
            N_ALOJAMENTOS: 
              type: integer
              format: int32
              example: 16681
            N_ALOJAMENTOS_FAMILIARES: 
              type: integer
              format: int32
              example: 16669
            N_ALOJAMENTOS_FAM_CLASSICOS: 
              type: integer
              format: int32
              example: 16649
            N_ALOJAMENTOS_FAM_N_CLASSICOS: 
              type: integer
              format: int32
              example: 20
            N_ALOJAMENTOS_COLECTIVOS: 
              type: integer
              format: int32
              example: 12
            N_CLASSICOS_RES_HABITUAL: 
              type: integer
              format: int32
              example: 14009
            N_ALOJAMENTOS_RES_HABITUAL: 
              type: integer
              format: int32
              example: 14029
            N_ALOJAMENTOS_VAGOS: 
              type: integer
              format: int32
              example: 1451
            N_RES_HABITUAL_COM_AGUA: 
              type: integer
              format: int32
              example: 13975
            N_RES_HABITUAL_COM_RETRETE: 
              type: integer
              format: int32
              example: 13971
            N_RES_HABITUAL_COM_ESGOTOS: 
              type: integer
              format: int32
              example: 13995
            N_RES_HABITUAL_COM_BANHO: 
              type: integer
              format: int32
              example: 13858
            N_RES_HABITUAL_AREA_50: 
              type: integer
              format: int32
              example: 1825
            N_RES_HABITUAL_AREA_50_100: 
              type: integer
              format: int32
              example: 9085
            N_RES_HABITUAL_AREA_100_200: 
              type: integer
              format: int32
              example: 3041
            N_RES_HABITUAL_AREA_200: 
              type: integer
              format: int32
              example: 58
            N_RES_HABITUAL_1_2_DIV: 
              type: integer
              format: int32
              example: 252
            N_RES_HABITUAL_3_4_DIV: 
              type: integer
              format: int32
              example: 6562
            N_RES_HABITUAL_ESTAC_1: 
              type: integer
              format: int32
              example: 1825
            N_RES_HABITUAL_ESTAC_2: 
              type: integer
              format: int32
              example: 164
            N_RES_HABITUAL_ESTAC_3: 
              type: integer
              format: int32
              example: 121
            N_RES_HABITUAL_PROP_OCUP: 
              type: integer
              format: int32
              example: 6107
            N_RES_HABITUAL_ARREND: 
              type: integer
              format: int32
              example: 7405
            N_FAMILIAS_CLASSICAS: 
              type: integer
              format: int32
              example: 14194
            N_FAMILIAS_INSTITUCIONAIS: 
              type: integer
              format: int32
              example: 11
            N_FAMILIAS_CLASSICAS_1OU2_PESS: 
              type: integer
              format: int32
              example: 7561
            N_FAMILIAS_CLASSICAS_3OU4_PESS: 
              type: integer
              format: int32
              example: 5272
            N_FAMILIAS_CLASSICAS_NPES65: 
              type: integer
              format: int32
              example: 5070
            N_FAMILIAS_CLASSICAS_NPES14: 
              type: integer
              format: int32
              example: 3575
            N_FAMILIAS_CLASSIC_SEM_DESEMP: 
              type: integer
              format: int32
              example: 11697
            N_FAMILIAS_CLASSIC_1DESEMPREG: 
              type: integer
              format: int32
              example: 2084
            N_FAMILIAS_CLASS_2MAIS_DESEMP: 
              type: integer
              format: int32
              example: 413
            N_NUCLEOS_FAMILIARES: 
              type: integer
              format: int32
              example: 11494
            N_NUCLEOS_1FILH_NAO_CASADO: 
              type: integer
              format: int32
              example: 4737
            N_NUCLEOS_2FILH_NAO_CASADO: 
              type: integer
              format: int32
              example: 2233
            N_NUCLEOS_FILH_INF_6ANOS: 
              type: integer
              format: int32
              example: 1704
            N_NUCLEOS_FILH_INF_15ANOS: 
              type: integer
              format: int32
              example: 3537
            N_NUCLEOS_FILH_MAIS_15ANOS: 
              type: integer
              format: int32
              example: 5088
            N_INDIVIDUOS_PRESENT: 
              type: integer
              format: int32
              example: 36630
            N_INDIVIDUOS_PRESENT_H: 
              type: integer
              format: int32
              example: 17144
            N_INDIVIDUOS_PRESENT_M: 
              type: integer
              format: int32
              example: 19486
            N_INDIVIDUOS_RESIDENT: 
              type: integer
              format: int32
              example: 38102
            N_INDIVIDUOS_RESIDENT_H: 
              type: integer
              format: int32
              example: 17945
            N_INDIVIDUOS_RESIDENT_M: 
              type: integer
              format: int32
              example: 20157
            N_INDIVIDUOS_RESIDENT_0A4: 
              type: integer
              format: int32
              example: 1672
            N_INDIVIDUOS_RESIDENT_5A9: 
              type: integer
              format: int32
              example: 1748
            N_INDIVIDUOS_RESIDENT_10A13: 
              type: integer
              format: int32
              example: 1465
            N_INDIVIDUOS_RESIDENT_14A19: 
              type: integer
              format: int32
              example: 2474
            N_INDIVIDUOS_RESIDENT_15A19: 
              type: integer
              format: int32
              example: 2102
            N_INDIVIDUOS_RESIDENT_20A24: 
              type: integer
              format: int32
              example: 2346
            N_INDIVIDUOS_RESIDENT_20A64: 
              type: integer
              format: int32
              example: 23618
            N_INDIVIDUOS_RESIDENT_25A64: 
              type: integer
              format: int32
              example: 21272
            N_INDIVIDUOS_RESIDENT_65: 
              type: integer
              format: int32
              example: 7125
            N_INDIVIDUOS_RESIDENT_H_0A4: 
              type: integer
              format: int32
              example: 866
            N_INDIVIDUOS_RESIDENT_H_5A9: 
              type: integer
              format: int32
              example: 865
            N_INDIVIDUOS_RESIDENT_H_10A13: 
              type: integer
              format: int32
              example: 727
            N_INDIVIDUOS_RESIDENT_H_14A19: 
              type: integer
              format: int32
              example: 1257
            N_INDIVIDUOS_RESIDENT_H_15A19: 
              type: integer
              format: int32
              example: 1068
            N_INDIVIDUOS_RESIDENT_H_20A24: 
              type: integer
              format: int32
              example: 1147
            N_INDIVIDUOS_RESIDENT_H_20A64: 
              type: integer
              format: int32
              example: 11398
            N_INDIVIDUOS_RESIDENT_H_25A64: 
              type: integer
              format: int32
              example: 10251
            N_INDIVIDUOS_RESIDENT_H_65: 
              type: integer
              format: int32
              example: 2832
            N_INDIVIDUOS_RESIDENT_M_0A4: 
              type: integer
              format: int32
              example: 806
            N_INDIVIDUOS_RESIDENT_M_5A9: 
              type: integer
              format: int32
              example: 883
            N_INDIVIDUOS_RESIDENT_M_10A13: 
              type: integer
              format: int32
              example: 738
            N_INDIVIDUOS_RESIDENT_M_14A19: 
              type: integer
              format: int32
              example: 1217
            N_INDIVIDUOS_RESIDENT_M_15A19: 
              type: integer
              format: int32
              example: 1034
            N_INDIVIDUOS_RESIDENT_M_20A24: 
              type: integer
              format: int32
              example: 1199
            N_INDIVIDUOS_RESIDENT_M_20A64: 
              type: integer
              format: int32
              example: 12220
            N_INDIVIDUOS_RESIDENT_M_25A64: 
              type: integer
              format: int32
              example: 11021
            N_INDIVIDUOS_RESIDENT_M_65: 
              type: integer
              format: int32
              example: 4293
            N_INDIV_RESIDENT_N_LER_ESCRV: 
              type: integer
              format: int32
              example: 2390
            N_IND_RESIDENT_FENSINO_1BAS: 
              type: integer
              format: int32
              example: 1683
            N_IND_RESIDENT_FENSINO_2BAS: 
              type: integer
              format: int32
              example: 1017
            N_IND_RESIDENT_FENSINO_3BAS: 
              type: integer
              format: int32
              example: 1421
            N_IND_RESIDENT_FENSINO_SEC: 
              type: integer
              format: int32
              example: 1367
            N_IND_RESIDENT_FENSINO_POSSEC: 
              type: integer
              format: int32
              example: 62
            N_IND_RESIDENT_FENSINO_SUP: 
              type: integer
              format: int32
              example: 1145
            N_IND_RESIDENT_ENSINCOMP_1BAS: 
              type: integer
              format: int32
              example: 11474
            N_IND_RESIDENT_ENSINCOMP_2BAS: 
              type: integer
              format: int32
              example: 5133
            N_IND_RESIDENT_ENSINCOMP_3BAS: 
              type: integer
              format: int32
              example: 6236
            N_IND_RESIDENT_ENSINCOMP_SEC: 
              type: integer
              format: int32
              example: 4334
            N_IND_RESIDENT_ENSINCOMP_POSEC: 
              type: integer
              format: int32
              example: 263
            N_IND_RESIDENT_ENSINCOMP_SUP: 
              type: integer
              format: int32
              example: 2904
            N_IND_RESID_DESEMP_PROC_1EMPRG: 
              type: integer
              format: int32
              example: 535
            N_IND_RESID_DESEMP_PROC_EMPRG: 
              type: integer
              format: int32
              example: 2452
            N_IND_RESID_EMPREGADOS: 
              type: integer
              format: int32
              example: 14821
            N_IND_RESID_PENS_REFORM: 
              type: integer
              format: int32
              example: 9003
            N_IND_RESID_SEM_ACT_ECON: 
              type: integer
              format: int32
              example: 15037
            N_IND_RESID_EMPREG_SECT_PRIM: 
              type: integer
              format: int32
              example: 18
            N_IND_RESID_EMPREG_SECT_SEQ: 
              type: integer
              format: int32
              example: 1967
            N_IND_RESID_EMPREG_SECT_TERC: 
              type: integer
              format: int32
              example: 12836
            N_IND_RESID_ESTUD_MUN_RESID: 
              type: integer
              format: int32
              example: 7145
            N_IND_RESID_TRAB_MUN_RESID: 
              type: integer
              format: int32
              example: 12599
        censos2021: 
          type: object
          properties: 
            N_EDIFICIOS_CLASSICOS: 
              type: integer
              format: int32
              example: 1490
            N_ALOJAMENTOS: 
              type: integer
              format: int32
              example: 16810
            N_AGREGADOS: 
              type: integer
              format: int32
              example: 14142
            N_INDIVIDUOS_RESIDENT: 
              type: integer
              format: int32
              example: 35482
        geojson: 
          type: object
          properties: 
            type: 
              type: string
              example: Feature
            properties: 
              type: object
              properties: 
                Dicofre: 
                  type: string
                  example: 110621
                Freguesia: 
                  type: string
                  example: Marvila
                Concelho: 
                  type: string
                  example: Lisboa
                Distrito: 
                  type: string
                  example: Lisboa
                TAA: 
                  type: string
                  example: ÁREA PRINCIPAL
                Area_T_ha: 
                  type: number
                  example: 712.24
                Area_EA_ha: 
                  type: number
                  example: 712.24
                Des_Simpli: 
                  type: string
                  example: Marvila
                centros: 
                  type: object
                  properties: 
                    centro: 
                      type: array
                      items: 
                        type: number
                        example: -9.110550057590924
                    centroide: 
                      type: array
                      items: 
                        type: number
                        example: -9.122147914640724
                    centroDeMassa: 
                      type: array
                      items: 
                        type: number
                        example: -9.11095555386038
                    centroMedio: 
                      type: array
                      items: 
                        type: number
                        example: -9.122110338288898
                    centroMediano: 
                      type: array
                      items: 
                        type: number
                        example: -9.122147914640724
            geometry: 
              type: object
              properties: 
                type: 
                  type: string
                  example: Polygon
                coordinates: 
                  type: array
                  items: 
                    type: array
                    items: 
                      type: array
                      items: 
                        type: number
                        example: -9.103096704264637
            bbox: 
              type: array
              items: 
                type: number
                example: -9.13039036150257

    freguesias:
      type: array
      items:
        type: object
        properties: 
          codigo: 
            type: string
            example: 9712
          nif: 
            type: string
            example: 512071136
          rua: 
            type: string
            example: Rua Dom Jaime Garcia Goulart N.º 5
          localidade: 
            type: string
            example: Madalena
          codigopostal: 
            type: string
            example: 9950-361
          descrpostal: 
            type: string
            example: MADALENA
          email: 
            type: string
            example: freguesia.madalena@mail.telepac.pt
          telefone: 
            type: string
            example: 292622304
          fax: 
            type: string
            example: 512071136
          sitio: 
            type: string
            example: www.freguesia-madalena.pt
          codigoine: 
            type: string
            example: 460204
          eleitores2011: 
            type: string
            example: 2113
          populacao2011: 
            type: string
            example: 2509
          areaha: 
            type: string
            example: 3559.05
          nomecompleto: 
            type: string
            example: Madalena
          nome: 
            type: string
            example: Madalena
          municipio: 
            type: string
            example: Madalena
          nomecompleto2: 
            type: string
            example: Madalena
          censos2011: 
            type: object
            properties: 
              N_ALOJ: 
                type: integer
                format: int32
                example: 1008
              N_EDIFICIOS_CLASSICOS: 
                type: integer
                format: int32
                example: 1101
              N_EDIFICIOS_CLASSICOS_1OU2: 
                type: integer
                format: int32
                example: 1076
              N_EDIFICIOS_CLASSICOS_ISOLADOS: 
                type: integer
                format: int32
                example: 945
              N_EDIFICIOS_CLASSICOS_GEMIN: 
                type: integer
                format: int32
                example: 90
              N_EDIFICIOS_CLASSICOS_EMBANDA: 
                type: integer
                format: int32
                example: 41
              N_EDIFICIOS_CLASSICOS_3OUMAIS: 
                type: integer
                format: int32
                example: 17
              N_EDIFICIOS_CLASSICOS_OUTROS: 
                type: integer
                format: int32
                example: 8
              N_EDIFICIOS_EXCLUSIV_RESID: 
                type: integer
                format: int32
                example: 1039
              N_EDIFICIOS_PRINCIPAL_RESID: 
                type: integer
                format: int32
                example: 58
              N_EDIFICIOS_PRINCIP_NAO_RESID: 
                type: integer
                format: int32
                example: 4
              N_EDIFICIOS_1OU2_PISOS: 
                type: integer
                format: int32
                example: 1087
              N_EDIFICIOS_3OU4_PISOS: 
                type: integer
                format: int32
                example: 13
              N_EDIFICIOS_CONSTR_ANTES_1919: 
                type: integer
                format: int32
                example: 36
              N_EDIFICIOS_CONSTR_1919A1945: 
                type: integer
                format: int32
                example: 38
              N_EDIFICIOS_CONSTR_1946A1960: 
                type: integer
                format: int32
                example: 58
              N_EDIFICIOS_CONSTR_1961A1970: 
                type: integer
                format: int32
                example: 41
              N_EDIFICIOS_CONSTR_1971A1980: 
                type: integer
                format: int32
                example: 80
              N_EDIFICIOS_CONSTR_1981A1990: 
                type: integer
                format: int32
                example: 132
              N_EDIFICIOS_CONSTR_1991A1995: 
                type: integer
                format: int32
                example: 101
              N_EDIFICIOS_CONSTR_1996A2000: 
                type: integer
                format: int32
                example: 243
              N_EDIFICIOS_CONSTR_2001A2005: 
                type: integer
                format: int32
                example: 251
              N_EDIFICIOS_CONSTR_2006A2011: 
                type: integer
                format: int32
                example: 121
              N_EDIFICIOS_ESTRUT_BETAO: 
                type: integer
                format: int32
                example: 978
              N_EDIFICIOS_ESTRUT_COM_PLACA: 
                type: integer
                format: int32
                example: 10
              N_EDIFICIOS_ESTRUT_SEM_PLACA: 
                type: integer
                format: int32
                example: 110
              N_EDIFICIOS_ESTRUT_ADOBE_PEDRA: 
                type: integer
                format: int32
                example: 1
              N_EDIFICIOS_ESTRUT_OUTRA: 
                type: integer
                format: int32
                example: 2
              N_ALOJAMENTOS: 
                type: integer
                format: int32
                example: 1174
              N_ALOJAMENTOS_FAMILIARES: 
                type: integer
                format: int32
                example: 1166
              N_ALOJAMENTOS_FAM_CLASSICOS: 
                type: integer
                format: int32
                example: 1166
              N_ALOJAMENTOS_FAM_N_CLASSICOS: 
                type: integer
                format: int32
                example: 0
              N_ALOJAMENTOS_COLECTIVOS: 
                type: integer
                format: int32
                example: 8
              N_CLASSICOS_RES_HABITUAL: 
                type: integer
                format: int32
                example: 901
              N_ALOJAMENTOS_RES_HABITUAL: 
                type: integer
                format: int32
                example: 901
              N_ALOJAMENTOS_VAGOS: 
                type: integer
                format: int32
                example: 116
              N_RES_HABITUAL_COM_AGUA: 
                type: integer
                format: int32
                example: 900
              N_RES_HABITUAL_COM_RETRETE: 
                type: integer
                format: int32
                example: 900
              N_RES_HABITUAL_COM_ESGOTOS: 
                type: integer
                format: int32
                example: 901
              N_RES_HABITUAL_COM_BANHO: 
                type: integer
                format: int32
                example: 898
              N_RES_HABITUAL_AREA_50: 
                type: integer
                format: int32
                example: 61
              N_RES_HABITUAL_AREA_50_100: 
                type: integer
                format: int32
                example: 254
              N_RES_HABITUAL_AREA_100_200: 
                type: integer
                format: int32
                example: 417
              N_RES_HABITUAL_AREA_200: 
                type: integer
                format: int32
                example: 169
              N_RES_HABITUAL_1_2_DIV: 
                type: integer
                format: int32
                example: 27
              N_RES_HABITUAL_3_4_DIV: 
                type: integer
                format: int32
                example: 259
              N_RES_HABITUAL_ESTAC_1: 
                type: integer
                format: int32
                example: 338
              N_RES_HABITUAL_ESTAC_2: 
                type: integer
                format: int32
                example: 203
              N_RES_HABITUAL_ESTAC_3: 
                type: integer
                format: int32
                example: 93
              N_RES_HABITUAL_PROP_OCUP: 
                type: integer
                format: int32
                example: 728
              N_RES_HABITUAL_ARREND: 
                type: integer
                format: int32
                example: 129
              N_FAMILIAS_CLASSICAS: 
                type: integer
                format: int32
                example: 929
              N_FAMILIAS_INSTITUCIONAIS: 
                type: integer
                format: int32
                example: 1
              N_FAMILIAS_CLASSICAS_1OU2_PESS: 
                type: integer
                format: int32
                example: 456
              N_FAMILIAS_CLASSICAS_3OU4_PESS: 
                type: integer
                format: int32
                example: 385
              N_FAMILIAS_CLASSICAS_NPES65: 
                type: integer
                format: int32
                example: 269
              N_FAMILIAS_CLASSICAS_NPES14: 
                type: integer
                format: int32
                example: 268
              N_FAMILIAS_CLASSIC_SEM_DESEMP: 
                type: integer
                format: int32
                example: 858
              N_FAMILIAS_CLASSIC_1DESEMPREG: 
                type: integer
                format: int32
                example: 63
              N_FAMILIAS_CLASS_2MAIS_DESEMP: 
                type: integer
                format: int32
                example: 8
              N_NUCLEOS_FAMILIARES: 
                type: integer
                format: int32
                example: 752
              N_NUCLEOS_1FILH_NAO_CASADO: 
                type: integer
                format: int32
                example: 267
              N_NUCLEOS_2FILH_NAO_CASADO: 
                type: integer
                format: int32
                example: 165
              N_NUCLEOS_FILH_INF_6ANOS: 
                type: integer
                format: int32
                example: 110
              N_NUCLEOS_FILH_INF_15ANOS: 
                type: integer
                format: int32
                example: 267
              N_NUCLEOS_FILH_MAIS_15ANOS: 
                type: integer
                format: int32
                example: 286
              N_INDIVIDUOS_PRESENT: 
                type: integer
                format: int32
                example: 2574
              N_INDIVIDUOS_PRESENT_H: 
                type: integer
                format: int32
                example: 1301
              N_INDIVIDUOS_PRESENT_M: 
                type: integer
                format: int32
                example: 1273
              N_INDIVIDUOS_RESIDENT: 
                type: integer
                format: int32
                example: 2581
              N_INDIVIDUOS_RESIDENT_H: 
                type: integer
                format: int32
                example: 1284
              N_INDIVIDUOS_RESIDENT_M: 
                type: integer
                format: int32
                example: 1297
              N_INDIVIDUOS_RESIDENT_0A4: 
                type: integer
                format: int32
                example: 101
              N_INDIVIDUOS_RESIDENT_5A9: 
                type: integer
                format: int32
                example: 121
              N_INDIVIDUOS_RESIDENT_10A13: 
                type: integer
                format: int32
                example: 126
              N_INDIVIDUOS_RESIDENT_14A19: 
                type: integer
                format: int32
                example: 191
              N_INDIVIDUOS_RESIDENT_15A19: 
                type: integer
                format: int32
                example: 163
              N_INDIVIDUOS_RESIDENT_20A24: 
                type: integer
                format: int32
                example: 161
              N_INDIVIDUOS_RESIDENT_20A64: 
                type: integer
                format: int32
                example: 1619
              N_INDIVIDUOS_RESIDENT_25A64: 
                type: integer
                format: int32
                example: 1458
              N_INDIVIDUOS_RESIDENT_65: 
                type: integer
                format: int32
                example: 423
              N_INDIVIDUOS_RESIDENT_H_0A4: 
                type: integer
                format: int32
                example: 50
              N_INDIVIDUOS_RESIDENT_H_5A9: 
                type: integer
                format: int32
                example: 64
              N_INDIVIDUOS_RESIDENT_H_10A13: 
                type: integer
                format: int32
                example: 65
              N_INDIVIDUOS_RESIDENT_H_14A19: 
                type: integer
                format: int32
                example: 99
              N_INDIVIDUOS_RESIDENT_H_15A19: 
                type: integer
                format: int32
                example: 85
              N_INDIVIDUOS_RESIDENT_H_20A24: 
                type: integer
                format: int32
                example: 97
              N_INDIVIDUOS_RESIDENT_H_20A64: 
                type: integer
                format: int32
                example: 834
              N_INDIVIDUOS_RESIDENT_H_25A64: 
                type: integer
                format: int32
                example: 737
              N_INDIVIDUOS_RESIDENT_H_65: 
                type: integer
                format: int32
                example: 172
              N_INDIVIDUOS_RESIDENT_M_0A4: 
                type: integer
                format: int32
                example: 51
              N_INDIVIDUOS_RESIDENT_M_5A9: 
                type: integer
                format: int32
                example: 57
              N_INDIVIDUOS_RESIDENT_M_10A13: 
                type: integer
                format: int32
                example: 61
              N_INDIVIDUOS_RESIDENT_M_14A19: 
                type: integer
                format: int32
                example: 92
              N_INDIVIDUOS_RESIDENT_M_15A19: 
                type: integer
                format: int32
                example: 78
              N_INDIVIDUOS_RESIDENT_M_20A24: 
                type: integer
                format: int32
                example: 64
              N_INDIVIDUOS_RESIDENT_M_20A64: 
                type: integer
                format: int32
                example: 785
              N_INDIVIDUOS_RESIDENT_M_25A64: 
                type: integer
                format: int32
                example: 721
              N_INDIVIDUOS_RESIDENT_M_65: 
                type: integer
                format: int32
                example: 251
              N_INDIV_RESIDENT_N_LER_ESCRV: 
                type: integer
                format: int32
                example: 84
              N_IND_RESIDENT_FENSINO_1BAS: 
                type: integer
                format: int32
                example: 107
              N_IND_RESIDENT_FENSINO_2BAS: 
                type: integer
                format: int32
                example: 81
              N_IND_RESIDENT_FENSINO_3BAS: 
                type: integer
                format: int32
                example: 105
              N_IND_RESIDENT_FENSINO_SEC: 
                type: integer
                format: int32
                example: 92
              N_IND_RESIDENT_FENSINO_POSSEC: 
                type: integer
                format: int32
                example: 14
              N_IND_RESIDENT_FENSINO_SUP: 
                type: integer
                format: int32
                example: 57
              N_IND_RESIDENT_ENSINCOMP_1BAS: 
                type: integer
                format: int32
                example: 834
              N_IND_RESIDENT_ENSINCOMP_2BAS: 
                type: integer
                format: int32
                example: 343
              N_IND_RESIDENT_ENSINCOMP_3BAS: 
                type: integer
                format: int32
                example: 433
              N_IND_RESIDENT_ENSINCOMP_SEC: 
                type: integer
                format: int32
                example: 363
              N_IND_RESIDENT_ENSINCOMP_POSEC: 
                type: integer
                format: int32
                example: 30
              N_IND_RESIDENT_ENSINCOMP_SUP: 
                type: integer
                format: int32
                example: 196
              N_IND_RESID_DESEMP_PROC_1EMPRG: 
                type: integer
                format: int32
                example: 18
              N_IND_RESID_DESEMP_PROC_EMPRG: 
                type: integer
                format: int32
                example: 62
              N_IND_RESID_EMPREGADOS: 
                type: integer
                format: int32
                example: 1160
              N_IND_RESID_PENS_REFORM: 
                type: integer
                format: int32
                example: 560
              N_IND_RESID_SEM_ACT_ECON: 
                type: integer
                format: int32
                example: 965
              N_IND_RESID_EMPREG_SECT_PRIM: 
                type: integer
                format: int32
                example: 68
              N_IND_RESID_EMPREG_SECT_SEQ: 
                type: integer
                format: int32
                example: 299
              N_IND_RESID_EMPREG_SECT_TERC: 
                type: integer
                format: int32
                example: 793
              N_IND_RESID_ESTUD_MUN_RESID: 
                type: integer
                format: int32
                example: 458
              N_IND_RESID_TRAB_MUN_RESID: 
                type: integer
                format: int32
                example: 1068
          censos2021: 
            type: object
            properties: 
              N_EDIFICIOS_CLASSICOS: 
                type: integer
                format: int32
                example: 1264
              N_ALOJAMENTOS: 
                type: integer
                format: int32
                example: 1416
              N_AGREGADOS: 
                type: integer
                format: int32
                example: 1079
              N_INDIVIDUOS_RESIDENT: 
                type: integer
                format: int32
                example: 2886
    
    seccao:
      type: object
      properties: 
        freguesia: 
          type: object
          properties: 
            codigo: 
              type: string
            nif: 
              type: string
            rua: 
              type: string
            localidade: 
              type: string
            codigopostal: 
              type: string
            descrpostal: 
              type: string
            email: 
              type: string
            telefone: 
              type: string
            fax: 
              type: string
            sitio: 
              type: string
            codigoine: 
              type: string
            eleitores2011: 
              type: string
            populacao2011: 
              type: string
            areaha: 
              type: string
            nomecompleto: 
              type: string
            nome: 
              type: string
            municipio: 
              type: string
            nomecompleto2: 
              type: string
            nomecompleto3: 
              type: string
            censos2011: 
              type: object
              properties: 
                N_EDIFICIOS_CLASSICOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_1OU2: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_ISOLADOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_GEMIN: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_EMBANDA: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_3OUMAIS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_OUTROS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_EXCLUSIV_RESID: 
                  type: integer
                  format: int32
                N_EDIFICIOS_PRINCIPAL_RESID: 
                  type: integer
                  format: int32
                N_EDIFICIOS_PRINCIP_NAO_RESID: 
                  type: integer
                  format: int32
                N_EDIFICIOS_1OU2_PISOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_3OU4_PISOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_ANTES_1919: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1919A1945: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1946A1960: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1961A1970: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1971A1980: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1981A1990: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1991A1995: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1996A2000: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_2001A2005: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_2006A2011: 
                  type: integer
                  format: int32
                N_EDIFICIOS_ESTRUT_BETAO: 
                  type: integer
                  format: int32
                N_EDIFICIOS_ESTRUT_COM_PLACA: 
                  type: integer
                  format: int32
                N_EDIFICIOS_ESTRUT_SEM_PLACA: 
                  type: integer
                  format: int32
                N_EDIFICIOS_ESTRUT_ADOBE_PEDRA: 
                  type: integer
                  format: int32
                N_EDIFICIOS_ESTRUT_OUTRA: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_FAMILIARES: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_FAM_CLASSICOS: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_FAM_N_CLASSICOS: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_COLECTIVOS: 
                  type: integer
                  format: int32
                N_CLASSICOS_RES_HABITUAL: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_RES_HABITUAL: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_VAGOS: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_COM_AGUA: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_COM_RETRETE: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_COM_ESGOTOS: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_COM_BANHO: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_AREA_50: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_AREA_50_100: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_AREA_100_200: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_AREA_200: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_1_2_DIV: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_3_4_DIV: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_ESTAC_1: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_ESTAC_2: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_ESTAC_3: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_PROP_OCUP: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_ARREND: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSICAS: 
                  type: integer
                  format: int32
                N_FAMILIAS_INSTITUCIONAIS: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSICAS_1OU2_PESS: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSICAS_3OU4_PESS: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSICAS_NPES65: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSICAS_NPES14: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSIC_SEM_DESEMP: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSIC_1DESEMPREG: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASS_2MAIS_DESEMP: 
                  type: integer
                  format: int32
                N_NUCLEOS_FAMILIARES: 
                  type: integer
                  format: int32
                N_NUCLEOS_1FILH_NAO_CASADO: 
                  type: integer
                  format: int32
                N_NUCLEOS_2FILH_NAO_CASADO: 
                  type: integer
                  format: int32
                N_NUCLEOS_FILH_INF_6ANOS: 
                  type: integer
                  format: int32
                N_NUCLEOS_FILH_INF_15ANOS: 
                  type: integer
                  format: int32
                N_NUCLEOS_FILH_MAIS_15ANOS: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_PRESENT: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_PRESENT_H: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_PRESENT_M: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_0A4: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_5A9: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_10A13: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_14A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_15A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_20A24: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_20A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_25A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_65: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_0A4: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_5A9: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_10A13: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_14A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_15A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_20A24: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_20A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_25A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_65: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_0A4: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_5A9: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_10A13: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_14A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_15A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_20A24: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_20A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_25A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_65: 
                  type: integer
                  format: int32
                N_INDIV_RESIDENT_N_LER_ESCRV: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_1BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_2BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_3BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_SEC: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_POSSEC: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_SUP: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_1BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_2BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_3BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_SEC: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_POSEC: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_SUP: 
                  type: integer
                  format: int32
                N_IND_RESID_DESEMP_PROC_1EMPRG: 
                  type: integer
                  format: int32
                N_IND_RESID_DESEMP_PROC_EMPRG: 
                  type: integer
                  format: int32
                N_IND_RESID_EMPREGADOS: 
                  type: integer
                  format: int32
                N_IND_RESID_PENS_REFORM: 
                  type: integer
                  format: int32
                N_IND_RESID_SEM_ACT_ECON: 
                  type: integer
                  format: int32
                N_IND_RESID_EMPREG_SECT_PRIM: 
                  type: integer
                  format: int32
                N_IND_RESID_EMPREG_SECT_SEQ: 
                  type: integer
                  format: int32
                N_IND_RESID_EMPREG_SECT_TERC: 
                  type: integer
                  format: int32
                N_IND_RESID_ESTUD_MUN_RESID: 
                  type: integer
                  format: int32
                N_IND_RESID_TRAB_MUN_RESID: 
                  type: integer
                  format: int32
            censos2021: 
              type: object
              properties: 
                N_EDIFICIOS_CLASSICOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASS_CONST_1_OU_2_ALOJ: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASS_CONST_3_OU_MAIS_ALOJAMENTOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_EXCLUSIV_RESID: 
                  type: integer
                  format: int32
                N_EDIFICIOS_1_OU_2_PISOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_3_OU_MAIS_PISOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_ANTES_1945: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1946_1980: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1981_2000: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_2001_2010: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_2011_2021: 
                  type: integer
                  format: int32
                N_EDIFICIOS_COM_NECESSIDADES_REPARACAO: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_TOTAL: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_FAMILIARES: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_FAM_CLASS_RHABITUAL: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_FAM_CLASS_VAGOS_OU_RESID_SECUNDARIA: 
                  type: integer
                  format: int32
                N_RHABITUAL_ACESSIVEL_CADEIRAS_RODAS: 
                  type: integer
                  format: int32
                N_RHABITUAL_COM_ESTACIONAMENTO: 
                  type: integer
                  format: int32
                N_RHABITUAL_PROP_OCUP: 
                  type: integer
                  format: int32
                N_RHABITUAL_ARRENDADOS: 
                  type: integer
                  format: int32
                N_AGREGADOS_DOMESTICOS_PRIVADOS: 
                  type: integer
                  format: int32
                N_ADP_1_OU_2_PESSOAS: 
                  type: integer
                  format: int32
                N_ADP_3_OU_MAIS_PESSOAS: 
                  type: integer
                  format: int32
                N_NUCLEOS_FAMILIARES: 
                  type: integer
                  format: int32
                N_NUCLEOS_FAMILIARES_COM_FILHOS_TENDO_O_MAIS_NOVO_MENOS_DE_25: 
                  type: integer
                  format: int32
                N_INDIVIDUOS: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_H: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_M: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_0_14: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_15_24: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_25_64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_65_OU_MAIS: 
                  type: integer
                  format: int32
        municipio: 
          type: object
          properties: 
            codigo: 
              type: string
            nif: 
              type: string
            rua: 
              type: string
            localidade: 
              type: string
            codigopostal: 
              type: string
            descrpostal: 
              type: string
            email: 
              type: string
            telefone: 
              type: string
            fax: 
              type: string
            sitio: 
              type: string
            areaha: 
              type: string
            populacao: 
              type: string
            eleitores: 
              type: string
            codigoine: 
              type: string
            nome: 
              type: string
            distrito: 
              type: string
            censos2011: 
              type: object
              properties: 
                N_EDIFICIOS_CLASSICOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_1OU2: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_ISOLADOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_GEMIN: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_EMBANDA: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_3OUMAIS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASSICOS_OUTROS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_EXCLUSIV_RESID: 
                  type: integer
                  format: int32
                N_EDIFICIOS_PRINCIPAL_RESID: 
                  type: integer
                  format: int32
                N_EDIFICIOS_PRINCIP_NAO_RESID: 
                  type: integer
                  format: int32
                N_EDIFICIOS_1OU2_PISOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_3OU4_PISOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_ANTES_1919: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1919A1945: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1946A1960: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1961A1970: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1971A1980: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1981A1990: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1991A1995: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1996A2000: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_2001A2005: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_2006A2011: 
                  type: integer
                  format: int32
                N_EDIFICIOS_ESTRUT_BETAO: 
                  type: integer
                  format: int32
                N_EDIFICIOS_ESTRUT_COM_PLACA: 
                  type: integer
                  format: int32
                N_EDIFICIOS_ESTRUT_SEM_PLACA: 
                  type: integer
                  format: int32
                N_EDIFICIOS_ESTRUT_ADOBE_PEDRA: 
                  type: integer
                  format: int32
                N_EDIFICIOS_ESTRUT_OUTRA: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_FAMILIARES: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_FAM_CLASSICOS: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_FAM_N_CLASSICOS: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_COLECTIVOS: 
                  type: integer
                  format: int32
                N_CLASSICOS_RES_HABITUAL: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_RES_HABITUAL: 
                  type: integer
                  format: int32
                N_ALOJAMENTOS_VAGOS: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_COM_AGUA: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_COM_RETRETE: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_COM_ESGOTOS: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_COM_BANHO: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_AREA_50: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_AREA_50_100: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_AREA_100_200: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_AREA_200: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_1_2_DIV: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_3_4_DIV: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_ESTAC_1: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_ESTAC_2: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_ESTAC_3: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_PROP_OCUP: 
                  type: integer
                  format: int32
                N_RES_HABITUAL_ARREND: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSICAS: 
                  type: integer
                  format: int32
                N_FAMILIAS_INSTITUCIONAIS: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSICAS_1OU2_PESS: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSICAS_3OU4_PESS: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSICAS_NPES65: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSICAS_NPES14: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSIC_SEM_DESEMP: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASSIC_1DESEMPREG: 
                  type: integer
                  format: int32
                N_FAMILIAS_CLASS_2MAIS_DESEMP: 
                  type: integer
                  format: int32
                N_NUCLEOS_FAMILIARES: 
                  type: integer
                  format: int32
                N_NUCLEOS_1FILH_NAO_CASADO: 
                  type: integer
                  format: int32
                N_NUCLEOS_2FILH_NAO_CASADO: 
                  type: integer
                  format: int32
                N_NUCLEOS_FILH_INF_6ANOS: 
                  type: integer
                  format: int32
                N_NUCLEOS_FILH_INF_15ANOS: 
                  type: integer
                  format: int32
                N_NUCLEOS_FILH_MAIS_15ANOS: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_PRESENT: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_PRESENT_H: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_PRESENT_M: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_0A4: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_5A9: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_10A13: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_14A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_15A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_20A24: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_20A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_25A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_65: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_0A4: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_5A9: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_10A13: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_14A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_15A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_20A24: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_20A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_25A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_H_65: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_0A4: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_5A9: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_10A13: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_14A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_15A19: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_20A24: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_20A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_25A64: 
                  type: integer
                  format: int32
                N_INDIVIDUOS_RESIDENT_M_65: 
                  type: integer
                  format: int32
                N_INDIV_RESIDENT_N_LER_ESCRV: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_1BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_2BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_3BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_SEC: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_POSSEC: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_FENSINO_SUP: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_1BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_2BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_3BAS: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_SEC: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_POSEC: 
                  type: integer
                  format: int32
                N_IND_RESIDENT_ENSINCOMP_SUP: 
                  type: integer
                  format: int32
                N_IND_RESID_DESEMP_PROC_1EMPRG: 
                  type: integer
                  format: int32
                N_IND_RESID_DESEMP_PROC_EMPRG: 
                  type: integer
                  format: int32
                N_IND_RESID_EMPREGADOS: 
                  type: integer
                  format: int32
                N_IND_RESID_PENS_REFORM: 
                  type: integer
                  format: int32
                N_IND_RESID_SEM_ACT_ECON: 
                  type: integer
                  format: int32
                N_IND_RESID_EMPREG_SECT_PRIM: 
                  type: integer
                  format: int32
                N_IND_RESID_EMPREG_SECT_SEQ: 
                  type: integer
                  format: int32
                N_IND_RESID_EMPREG_SECT_TERC: 
                  type: integer
                  format: int32
                N_IND_RESID_ESTUD_MUN_RESID: 
                  type: integer
                  format: int32
                N_IND_RESID_TRAB_MUN_RESID: 
                  type: integer
                  format: int32
            censos2021: 
              type: object
              properties: 
                N_EDIFICIOS_CLASSICOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASS_CONST_1_OU_2_ALOJ: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CLASS_CONST_3_OU_MAIS_ALOJAMENTOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_EXCLUSIV_RESID: 
                  type: integer
                  format: int32
                N_EDIFICIOS_1_OU_2_PISOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_3_OU_MAIS_PISOS: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_ANTES_1945: 
                  type: integer
                  format: int32
                N_EDIFICIOS_CONSTR_1946_1980: 
                  type: integer
                  format: int32
[...]
