openapi: 3.0.1
info:
  title: GEO API PT
  description: Dados gratuitos e abertos para Portugal sobre regiões administrativas oficiais, georreferenciação, censos e códigos postais
  version: '1.0'
  license:
    name: GNU General Public License v3.0
    url: https://github.com/jfoclpf/geoapi.pt/blob/main/LICENSE

servers:
  - url: https://json.geoapi.pt

components:
  parameters:
    json:
      in: query
      name: json
      required: false
      schema:
        type: string
      description: Ativa resposta em JSON
      examples:
        1:
          value: '1'
          summary: Ativa resposta em JSON
        true:
          value: 'true'
          summary: Ativa resposta em JSON
  schemas:
    municipios:
      type: array
    municipio:
      type: object
      properties:
        codigo: 
          type: string
          example: 2643
        nif: 
          type: string
          example: 504828576
        rua: 
          type: string
          example: Praça do Sertório
        localidade: 
          type: string
          example: EVORA
        codigopostal: 
          type: string
          example: 7004-506
        descrpostal: 
          type: string
          example: EVORA
        email: 
          type: string
          example: cmevora@cm-evora.pt
        telefone: 
          type: string
          example: 266777000
        fax: 
          type: string
          example: 266702950
        sitio: 
          type: string
          example: www.cm-evora.pt
        areaha: 
          type: string
          example: 1307.03
        populacao: 
          type: string
          example: 56596
        eleitores: 
          type: string
          example: 47923
        codigoine: 
          type: string
          example: 705
        nome: 
          type: string
          example: Évora
        distrito: 
          type: string
          example: ÉVORA
        censos2011: 
          type: object
          properties: 
            N_EDIFICIOS_CLASSICOS: 
              type: integer
              format: int32
              example: 20676
            N_EDIFICIOS_CLASSICOS_1OU2: 
              type: integer
              format: int32
              example: 18953
            N_EDIFICIOS_CLASSICOS_ISOLADOS: 
              type: integer
              format: int32
              example: 4280
            N_EDIFICIOS_CLASSICOS_GEMIN: 
              type: integer
              format: int32
              example: 4096
            N_EDIFICIOS_CLASSICOS_EMBANDA: 
              type: integer
              format: int32
              example: 10577
            N_EDIFICIOS_CLASSICOS_3OUMAIS: 
              type: integer
              format: int32
              example: 1408
            N_EDIFICIOS_CLASSICOS_OUTROS: 
              type: integer
              format: int32
              example: 315
            N_EDIFICIOS_EXCLUSIV_RESID: 
              type: integer
              format: int32
              example: 19801
            N_EDIFICIOS_PRINCIPAL_RESID: 
              type: integer
              format: int32
              example: 656
            N_EDIFICIOS_PRINCIP_NAO_RESID: 
              type: integer
              format: int32
              example: 219
            N_EDIFICIOS_1OU2_PISOS: 
              type: integer
              format: int32
              example: 19312
            N_EDIFICIOS_3OU4_PISOS: 
              type: integer
              format: int32
              example: 1275
            N_EDIFICIOS_CONSTR_ANTES_1919: 
              type: integer
              format: int32
              example: 1140
            N_EDIFICIOS_CONSTR_1919A1945: 
              type: integer
              format: int32
              example: 3066
            N_EDIFICIOS_CONSTR_1946A1960: 
              type: integer
              format: int32
              example: 2735
            N_EDIFICIOS_CONSTR_1961A1970: 
              type: integer
              format: int32
              example: 2376
            N_EDIFICIOS_CONSTR_1971A1980: 
              type: integer
              format: int32
              example: 2528
            N_EDIFICIOS_CONSTR_1981A1990: 
              type: integer
              format: int32
              example: 3847
            N_EDIFICIOS_CONSTR_1991A1995: 
              type: integer
              format: int32
              example: 1397
            N_EDIFICIOS_CONSTR_1996A2000: 
              type: integer
              format: int32
              example: 1235
            N_EDIFICIOS_CONSTR_2001A2005: 
              type: integer
              format: int32
              example: 1340
            N_EDIFICIOS_CONSTR_2006A2011: 
              type: integer
              format: int32
              example: 1012
            N_EDIFICIOS_ESTRUT_BETAO: 
              type: integer
              format: int32
              example: 10687
            N_EDIFICIOS_ESTRUT_COM_PLACA: 
              type: integer
              format: int32
              example: 7205
            N_EDIFICIOS_ESTRUT_SEM_PLACA: 
              type: integer
              format: int32
              example: 2039
            N_EDIFICIOS_ESTRUT_ADOBE_PEDRA: 
              type: integer
              format: int32
              example: 729
            N_EDIFICIOS_ESTRUT_OUTRA: 
              type: integer
              format: int32
              example: 16
            N_ALOJAMENTOS: 
              type: integer
              format: int32
              example: 29311
            N_ALOJAMENTOS_FAMILIARES: 
              type: integer
              format: int32
              example: 29204
            N_ALOJAMENTOS_FAM_CLASSICOS: 
              type: integer
              format: int32
              example: 29171
            N_ALOJAMENTOS_FAM_N_CLASSICOS: 
              type: integer
              format: int32
              example: 33
            N_ALOJAMENTOS_COLECTIVOS: 
              type: integer
              format: int32
              example: 107
            N_CLASSICOS_RES_HABITUAL: 
              type: integer
              format: int32
              example: 22424
            N_ALOJAMENTOS_RES_HABITUAL: 
              type: integer
              format: int32
              example: 22457
            N_ALOJAMENTOS_VAGOS: 
              type: integer
              format: int32
              example: 3618
            N_RES_HABITUAL_COM_AGUA: 
              type: integer
              format: int32
              example: 22330
            N_RES_HABITUAL_COM_RETRETE: 
              type: integer
              format: int32
              example: 22250
            N_RES_HABITUAL_COM_ESGOTOS: 
              type: integer
              format: int32
              example: 22350
            N_RES_HABITUAL_COM_BANHO: 
              type: integer
              format: int32
              example: 22014
            N_RES_HABITUAL_AREA_50: 
              type: integer
              format: int32
              example: 2744
            N_RES_HABITUAL_AREA_50_100: 
              type: integer
              format: int32
              example: 9142
            N_RES_HABITUAL_AREA_100_200: 
              type: integer
              format: int32
              example: 9110
            N_RES_HABITUAL_AREA_200: 
              type: integer
              format: int32
              example: 1428
            N_RES_HABITUAL_1_2_DIV: 
              type: integer
              format: int32
              example: 604
            N_RES_HABITUAL_3_4_DIV: 
              type: integer
              format: int32
              example: 8035
            N_RES_HABITUAL_ESTAC_1: 
              type: integer
              format: int32
              example: 7972
            N_RES_HABITUAL_ESTAC_2: 
              type: integer
              format: int32
              example: 1719
            N_RES_HABITUAL_ESTAC_3: 
              type: integer
              format: int32
              example: 1090
            N_RES_HABITUAL_PROP_OCUP: 
              type: integer
              format: int32
              example: 14884
            N_RES_HABITUAL_ARREND: 
              type: integer
              format: int32
              example: 5853
            N_FAMILIAS_CLASSICAS: 
              type: integer
              format: int32
              example: 22774
            N_FAMILIAS_INSTITUCIONAIS: 
              type: integer
              format: int32
              example: 51
            N_FAMILIAS_CLASSICAS_1OU2_PESS: 
              type: integer
              format: int32
              example: 13010
            N_FAMILIAS_CLASSICAS_3OU4_PESS: 
              type: integer
              format: int32
              example: 8668
            N_FAMILIAS_CLASSICAS_NPES65: 
              type: integer
              format: int32
              example: 7570
            N_FAMILIAS_CLASSICAS_NPES14: 
              type: integer
              format: int32
              example: 5740
            N_FAMILIAS_CLASSIC_SEM_DESEMP: 
              type: integer
              format: int32
              example: 20154
            N_FAMILIAS_CLASSIC_1DESEMPREG: 
              type: integer
              format: int32
              example: 2350
            N_FAMILIAS_CLASS_2MAIS_DESEMP: 
              type: integer
              format: int32
              example: 270
            N_NUCLEOS_FAMILIARES: 
              type: integer
              format: int32
              example: 17250
            N_NUCLEOS_1FILH_NAO_CASADO: 
              type: integer
              format: int32
              example: 6496
            N_NUCLEOS_2FILH_NAO_CASADO: 
              type: integer
              format: int32
              example: 3674
            N_NUCLEOS_FILH_INF_6ANOS: 
              type: integer
              format: int32
              example: 2658
            N_NUCLEOS_FILH_INF_15ANOS: 
              type: integer
              format: int32
              example: 5680
            N_NUCLEOS_FILH_MAIS_15ANOS: 
              type: integer
              format: int32
              example: 6540
            N_INDIVIDUOS_PRESENT: 
              type: integer
              format: int32
              example: 55811
            N_INDIVIDUOS_PRESENT_H: 
              type: integer
              format: int32
              example: 26190
            N_INDIVIDUOS_PRESENT_M: 
              type: integer
              format: int32
              example: 29621
            N_INDIVIDUOS_RESIDENT: 
              type: integer
              format: int32
              example: 56596
            N_INDIVIDUOS_RESIDENT_H: 
              type: integer
              format: int32
              example: 26831
            N_INDIVIDUOS_RESIDENT_M: 
              type: integer
              format: int32
              example: 29765
            N_INDIVIDUOS_RESIDENT_0A4: 
              type: integer
              format: int32
              example: 2548
            N_INDIVIDUOS_RESIDENT_5A9: 
              type: integer
              format: int32
              example: 2702
            N_INDIVIDUOS_RESIDENT_10A13: 
              type: integer
              format: int32
              example: 2319
            N_INDIVIDUOS_RESIDENT_14A19: 
              type: integer
              format: int32
              example: 3409
            N_INDIVIDUOS_RESIDENT_15A19: 
              type: integer
              format: int32
              example: 2830
            N_INDIVIDUOS_RESIDENT_20A24: 
              type: integer
              format: int32
              example: 3065
            N_INDIVIDUOS_RESIDENT_20A64: 
              type: integer
              format: int32
              example: 34451
            N_INDIVIDUOS_RESIDENT_25A64: 
              type: integer
              format: int32
              example: 31386
            N_INDIVIDUOS_RESIDENT_65: 
              type: integer
              format: int32
              example: 11167
            N_INDIVIDUOS_RESIDENT_H_0A4: 
              type: integer
              format: int32
              example: 1329
            N_INDIVIDUOS_RESIDENT_H_5A9: 
              type: integer
              format: int32
              example: 1398
            N_INDIVIDUOS_RESIDENT_H_10A13: 
              type: integer
              format: int32
              example: 1201
            N_INDIVIDUOS_RESIDENT_H_14A19: 
              type: integer
              format: int32
              example: 1729
            N_INDIVIDUOS_RESIDENT_H_15A19: 
              type: integer
              format: int32
              example: 1433
            N_INDIVIDUOS_RESIDENT_H_20A24: 
              type: integer
              format: int32
              example: 1497
            N_INDIVIDUOS_RESIDENT_H_20A64: 
              type: integer
              format: int32
              example: 16495
            N_INDIVIDUOS_RESIDENT_H_25A64: 
              type: integer
              format: int32
              example: 14998
            N_INDIVIDUOS_RESIDENT_H_65: 
              type: integer
              format: int32
              example: 4679
            N_INDIVIDUOS_RESIDENT_M_0A4: 
              type: integer
              format: int32
              example: 1219
            N_INDIVIDUOS_RESIDENT_M_5A9: 
              type: integer
              format: int32
              example: 1304
            N_INDIVIDUOS_RESIDENT_M_10A13: 
              type: integer
              format: int32
              example: 1118
            N_INDIVIDUOS_RESIDENT_M_14A19: 
              type: integer
              format: int32
              example: 1680
            N_INDIVIDUOS_RESIDENT_M_15A19: 
              type: integer
              format: int32
              example: 1397
            N_INDIVIDUOS_RESIDENT_M_20A24: 
              type: integer
              format: int32
              example: 1568
            N_INDIVIDUOS_RESIDENT_M_20A64: 
              type: integer
              format: int32
              example: 17956
            N_INDIVIDUOS_RESIDENT_M_25A64: 
              type: integer
              format: int32
              example: 16388
            N_INDIVIDUOS_RESIDENT_M_65: 
              type: integer
              format: int32
              example: 6488
            N_INDIV_RESIDENT_N_LER_ESCRV: 
              type: integer
              format: int32
              example: 2844
            N_IND_RESIDENT_FENSINO_1BAS: 
              type: integer
              format: int32
              example: 2373
            N_IND_RESIDENT_FENSINO_2BAS: 
              type: integer
              format: int32
              example: 1334
            N_IND_RESIDENT_FENSINO_3BAS: 
              type: integer
              format: int32
              example: 2179
            N_IND_RESIDENT_FENSINO_SEC: 
              type: integer
              format: int32
              example: 2204
            N_IND_RESIDENT_FENSINO_POSSEC: 
              type: integer
              format: int32
              example: 85
            N_IND_RESIDENT_FENSINO_SUP: 
              type: integer
              format: int32
              example: 2879
            N_IND_RESIDENT_ENSINCOMP_1BAS: 
              type: integer
              format: int32
              example: 12069
            N_IND_RESIDENT_ENSINCOMP_2BAS: 
              type: integer
              format: int32
              example: 6644
            N_IND_RESIDENT_ENSINCOMP_3BAS: 
              type: integer
              format: int32
              example: 9093
            N_IND_RESIDENT_ENSINCOMP_SEC: 
              type: integer
              format: int32
              example: 9078
            N_IND_RESIDENT_ENSINCOMP_POSEC: 
              type: integer
              format: int32
              example: 508
            N_IND_RESIDENT_ENSINCOMP_SUP: 
              type: integer
              format: int32
              example: 8955
            N_IND_RESID_DESEMP_PROC_1EMPRG: 
              type: integer
              format: int32
              example: 577
            N_IND_RESID_DESEMP_PROC_EMPRG: 
              type: integer
              format: int32
              example: 2349
            N_IND_RESID_EMPREGADOS: 
              type: integer
              format: int32
              example: 24742
            N_IND_RESID_PENS_REFORM: 
              type: integer
              format: int32
              example: 13759
            N_IND_RESID_SEM_ACT_ECON: 
              type: integer
              format: int32
              example: 20780
            N_IND_RESID_EMPREG_SECT_PRIM: 
              type: integer
              format: int32
              example: 1039
            N_IND_RESID_EMPREG_SECT_SEQ: 
              type: integer
              format: int32
              example: 4350
            N_IND_RESID_EMPREG_SECT_TERC: 
              type: integer
              format: int32
              example: 19353
            N_IND_RESID_ESTUD_MUN_RESID: 
              type: integer
              format: int32
              example: 11325
            N_IND_RESID_TRAB_MUN_RESID: 
              type: integer
              format: int32
              example: 22177
        censos2021: 
          type: object
          properties: 
            N_EDIFICIOS_CLASSICOS: 
              type: integer
              format: int32
              example: 20823
            N_ALOJAMENTOS: 
              type: integer
              format: int32
              example: 29836
            N_AGREGADOS: 
              type: integer
              format: int32
              example: 22410
            N_INDIVIDUOS_RESIDENT: 
              type: integer
              format: int32
              example: 53591
        geojsons: 
          type: object
          properties: 
            freguesias: 
              type: array
              items: 
                type: object
                properties: 
                  type: 
                    type: string
                    example: Feature
                  properties: 
                    type: object
                    properties: 
                      Dicofre: 
                        type: string
                        example: 070513
                      Freguesia: 
                        type: string
                        example: Torre de Coelheiros
                      Concelho: 
                        type: string
                        example: Évora
                      Distrito: 
                        type: string
                        example: Évora
                      TAA: 
                        type: string
                        example: ÁREA PRINCIPAL
                      Area_T_ha: 
                        type: number
                        example: 22623.94
                      Area_EA_ha: 
                        type: number
                        example: 22623.94
                      Des_Simpli: 
                        type: string
                        example: Torre de Coelheiros
                      centros: 
                        type: object
                        properties: 
                          centro: 
                            type: array
                            items: 
                              type: number
                              example: -7.869710007686821
                          centroide: 
                            type: array
                            items: 
                              type: number
                              example: -7.883810672564878
                          centroDeMassa: 
                            type: array
                            items: 
                              type: number
                              example: -7.8698325191599805
                          centroMedio: 
                            type: array
                            items: 
                              type: number
                              example: -7.883797654349002
                          centroMediano: 
                            type: array
                            items: 
                              type: number
                              example: -7.883810672564878
                  geometry: 
                    type: object
                    properties: 
                      type: 
                        type: string
                        example: Polygon
                      coordinates: 
                        type: array
                        items: 
                          type: array
                          items: 
                            type: array
                            items: 
                              type: number
                              example: -7.849091090827416
                  bbox: 
                    type: array
                    items: 
                      type: number
                      example: -7.9747881764930515
            municipio: 
              type: object
              properties: 
                type: 
                  type: string
                  example: Feature
                properties: 
                  type: object
                  properties: 
                    Dicofre: 
                      type: string
                      example: 0705
                    centros: 
                      type: object
                      properties: 
                        centro: 
                          type: array
                          items: 
                            type: number
                            example: -7.860315626897443
                        centroide: 
                          type: array
                          items: 
                            type: number
                            example: -7.873525045879464
                        centroDeMassa: 
                          type: array
                          items: 
                            type: number
                            example: -7.8702187180592365
                        centroMedio: 
                          type: array
                          items: 
                            type: number
                            example: -7.873561778484244
                        centroMediano: 
                          type: array
                          items: 
                            type: number
                            example: -7.873525045879465
                geometry: 
                  type: object
                  properties: 
                    type: 
                      type: string
                      example: Polygon
                    coordinates: 
                      type: array
                      items: 
                        type: array
                        items: 
                          type: array
                          items: 
                            type: number
                            example: -8.165696184305354
                bbox: 
                  type: array
                  items: 
                    type: number
                    example: -8.165696184305354

security: [] # No security, fully public API

paths:
  /gps:
    get:
      operationId: getAdminsByGpsAndQuery
      summary: Distrito, Município e Freguesia através de coordenadas GPS nos parâmetros da query
      parameters:
        - in: query
          name: lat
          required: true
          schema:
            type: string
            example: '40.153687'
          description: Latitude do ponto
        - in: query
          name: lon
          required: true
          schema:
            type: string
            example: '-8.514602'
          description: Longitude do ponto
        - in: query
          name: detalhes
          required: false
          schema:
            type: string
            example: '1'
          description: Ativa apresentação de detalhes de Freguesia e Município
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Distrito, Município, Freguesia, uso do solo, rua, número de porta e Código Postal
          content:
            application/json:
              schema:
                type: object
                properties:
                  lon:
                    type: number
                    format: float
                  lat:
                    type: number
                    format: float
                  distrito:
                    type: string
                  concelho:
                    type: string
                  freguesia:
                    type: string
                  uso:
                    type: string
                  Secção Estatística (INE, BGRI 2021):
                    type: string
                  Subsecção Estatística (INE, BGRI 2021):
                    type: string
                  rua:
                    type: string
                  n_porta:
                    type: string
                  CP:
                    type: string
                example:   # Sample object
                  lon: -9.102984
                  lat: 38.748406
                  distrito: Lisboa
                  concelho: Lisboa
                  freguesia: Marvila
                  uso: Tecido edificado contínuo predominantemente vertical
                  Secção Estatística (INE, BGRI 2021): 011
                  Subsecção Estatística (INE, BGRI 2021): 06
                  rua: Rua Fernando Maurício
                  n_porta: 30
                  CP: 1950-449
        '404':
          description: Coordenadas não encontradas ou pedido com erro
          content:
            application/json:
              schema:
                type: string

  /gps/{coordenadas}:
    get:
      operationId: getAdminsByGps
      summary: Distrito, Município e Freguesia através de coordenadas GPS
      parameters:
        - in: path
          name: coordenadas
          required: true
          schema:
            type: string
            example: '40.153687,-8.514602'
          allowReserved: true
          description: Coordenadas (latitude e longitude) do ponto
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Distrito, Município, Freguesia, uso do solo, rua, número de porta e Código Postal
          content:
            application/json:
              schema:
                type: object
                properties:
                  lon:
                    type: number
                    format: float
                  lat:
                    type: number
                    format: float
                  distrito:
                    type: string
                  concelho:
                    type: string
                  freguesia:
                    type: string
                  uso:
                    type: string
                  Secção Estatística (INE, BGRI 2021):
                    type: string
                  Subsecção Estatística (INE, BGRI 2021):
                    type: string
                  rua:
                    type: string
                  n_porta:
                    type: string
                  CP:
                    type: string
                example:   # Sample object
                  lon: -9.102984
                  lat: 38.748406
                  distrito: Lisboa
                  concelho: Lisboa
                  freguesia: Marvila
                  uso: Tecido edificado contínuo predominantemente vertical
                  Secção Estatística (INE, BGRI 2021): 011
                  Subsecção Estatística (INE, BGRI 2021): 06
                  rua: Rua Fernando Maurício
                  n_porta: 30
                  CP: 1950-449
        '404':
          description: Coordenadas não encontradas ou pedido com erro
          content:
            application/json:
              schema:
                type: string

  /gps/{coordenadas}/detalhes:
    get:
      operationId: getAdminsByGpsWithDetails
      summary: Distrito, Município e Freguesia através de coordenadas GPS, com detalhes sobre respectivos Município e Freguesia
      parameters:
        - in: path
          name: coordenadas
          required: true
          schema:
            type: string
            example: '40.153687,-8.514602'
          allowReserved: true
          description: Coordenadas (latitude e longitude) do ponto
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Distrito, Município e Freguesia através de coordenadas GPS, com detalhes sobre respectivos Município e Freguesia
          content:
            application/json:
              schema:
                type: object
                properties: 
                  lon: 
                    type: number
                    example: -9.102984
                  lat: 
                    type: number
                    example: 38.748406
                  distrito: 
                    type: string
                    example: Lisboa
                  concelho: 
                    type: string
                    example: Lisboa
                  freguesia: 
                    type: string
                    example: Marvila
                  detalhesFreguesia: 
                    type: object
                    properties: 
                      codigo: 
                        type: string
                        example: 7821
                      nif: 
                        type: string
                        example: 507330609
                      rua: 
                        type: string
                        example: Avª. João Paulo II lote 526 - 1º A
                      localidade: 
                        type: string
                        example: Marvila
                      codigopostal: 
                        type: string
                        example: 1950-159
                      descrpostal: 
                        type: string
                        example: LISBOA
                      email: 
                        type: string
                        example: info@jf-marvila.pt
                      telefone: 
                        type: string
                        example: 218310350
                      fax: 
                        type: string
                        example: 218310359
                      sitio: 
                        type: string
                        example: www.jf-marvila.pt
                      codigoine: 
                        type: string
                        example: 110621
                      eleitores2011: 
                        type: string
                        example: 37125
                      populacao2011: 
                        type: string
                        example: 38767
                      areaha: 
                        type: string
                        example: 637.42
                      nomecompleto: 
                        type: string
                        example: Marvila
                      nome: 
                        type: string
                        example: Marvila
                      municipio: 
                        type: string
                        example: Lisboa
                      nomecompleto2: 
                        type: string
                        example: Marvila
                      nomecompleto3: 
                        type: string
                        example: Marvila
                      censos2011: 
                        type: object
                        properties: 
                          N_EDIFICIOS_CLASSICOS: 
                            type: integer
                            format: int32
                            example: 1553
                          N_EDIFICIOS_CLASSICOS_1OU2: 
                            type: integer
                            format: int32
                            example: 497
                          N_EDIFICIOS_CLASSICOS_ISOLADOS: 
                            type: integer
                            format: int32
                            example: 92
                          N_EDIFICIOS_CLASSICOS_GEMIN: 
                            type: integer
                            format: int32
                            example: 105
                          N_EDIFICIOS_CLASSICOS_EMBANDA: 
                            type: integer
                            format: int32
                            example: 300
                          N_EDIFICIOS_CLASSICOS_3OUMAIS: 
                            type: integer
                            format: int32
                            example: 1038
                          N_EDIFICIOS_CLASSICOS_OUTROS: 
                            type: integer
                            format: int32
                            example: 18
                          N_EDIFICIOS_EXCLUSIV_RESID: 
                            type: integer
                            format: int32
                            example: 1297
                          N_EDIFICIOS_PRINCIPAL_RESID: 
                            type: integer
                            format: int32
                            example: 237
                          N_EDIFICIOS_PRINCIP_NAO_RESID: 
                            type: integer
                            format: int32
                            example: 19
                          N_EDIFICIOS_1OU2_PISOS: 
                            type: integer
                            format: int32
                            example: 718
                          N_EDIFICIOS_3OU4_PISOS: 
                            type: integer
                            format: int32
                            example: 133
                          N_EDIFICIOS_CONSTR_ANTES_1919: 
                            type: integer
                            format: int32
                            example: 132
                          N_EDIFICIOS_CONSTR_1919A1945: 
                            type: integer
                            format: int32
                            example: 201
                          N_EDIFICIOS_CONSTR_1946A1960: 
                            type: integer
                            format: int32
                            example: 123
                          N_EDIFICIOS_CONSTR_1961A1970: 
                            type: integer
                            format: int32
                            example: 178
                          N_EDIFICIOS_CONSTR_1971A1980: 
                            type: integer
                            format: int32
                            example: 389
                          N_EDIFICIOS_CONSTR_1981A1990: 
                            type: integer
                            format: int32
                            example: 171
                          N_EDIFICIOS_CONSTR_1991A1995: 
                            type: integer
                            format: int32
                            example: 112
                          N_EDIFICIOS_CONSTR_1996A2000: 
                            type: integer
                            format: int32
                            example: 150
                          N_EDIFICIOS_CONSTR_2001A2005: 
                            type: integer
                            format: int32
                            example: 66
                          N_EDIFICIOS_CONSTR_2006A2011: 
                            type: integer
                            format: int32
                            example: 31
                          N_EDIFICIOS_ESTRUT_BETAO: 
                            type: integer
                            format: int32
                            example: 1018
                          N_EDIFICIOS_ESTRUT_COM_PLACA: 
                            type: integer
                            format: int32
                            example: 158
                          N_EDIFICIOS_ESTRUT_SEM_PLACA: 
                            type: integer
                            format: int32
                            example: 340
                          N_EDIFICIOS_ESTRUT_ADOBE_PEDRA: 
                            type: integer
                            format: int32
                            example: 31
                          N_EDIFICIOS_ESTRUT_OUTRA: 
                            type: integer
                            format: int32
                            example: 6
                          N_ALOJAMENTOS: 
                            type: integer
                            format: int32
                            example: 16681
                          N_ALOJAMENTOS_FAMILIARES: 
                            type: integer
                            format: int32
                            example: 16669
                          N_ALOJAMENTOS_FAM_CLASSICOS: 
                            type: integer
                            format: int32
                            example: 16649
                          N_ALOJAMENTOS_FAM_N_CLASSICOS: 
                            type: integer
                            format: int32
                            example: 20
                          N_ALOJAMENTOS_COLECTIVOS: 
                            type: integer
                            format: int32
                            example: 12
                          N_CLASSICOS_RES_HABITUAL: 
                            type: integer
                            format: int32
                            example: 14009
                          N_ALOJAMENTOS_RES_HABITUAL: 
                            type: integer
                            format: int32
                            example: 14029
                          N_ALOJAMENTOS_VAGOS: 
                            type: integer
                            format: int32
                            example: 1451
                          N_RES_HABITUAL_COM_AGUA: 
                            type: integer
                            format: int32
                            example: 13975
                          N_RES_HABITUAL_COM_RETRETE: 
                            type: integer
                            format: int32
                            example: 13971
                          N_RES_HABITUAL_COM_ESGOTOS: 
                            type: integer
                            format: int32
                            example: 13995
                          N_RES_HABITUAL_COM_BANHO: 
                            type: integer
                            format: int32
                            example: 13858
                          N_RES_HABITUAL_AREA_50: 
                            type: integer
                            format: int32
                            example: 1825
                          N_RES_HABITUAL_AREA_50_100: 
                            type: integer
                            format: int32
                            example: 9085
                          N_RES_HABITUAL_AREA_100_200: 
                            type: integer
                            format: int32
                            example: 3041
                          N_RES_HABITUAL_AREA_200: 
                            type: integer
                            format: int32
                            example: 58
                          N_RES_HABITUAL_1_2_DIV: 
                            type: integer
                            format: int32
                            example: 252
                          N_RES_HABITUAL_3_4_DIV: 
                            type: integer
                            format: int32
                            example: 6562
                          N_RES_HABITUAL_ESTAC_1: 
                            type: integer
                            format: int32
                            example: 1825
                          N_RES_HABITUAL_ESTAC_2: 
                            type: integer
                            format: int32
                            example: 164
                          N_RES_HABITUAL_ESTAC_3: 
                            type: integer
                            format: int32
                            example: 121
                          N_RES_HABITUAL_PROP_OCUP: 
                            type: integer
                            format: int32
                            example: 6107
                          N_RES_HABITUAL_ARREND: 
                            type: integer
                            format: int32
                            example: 7405
                          N_FAMILIAS_CLASSICAS: 
                            type: integer
                            format: int32
                            example: 14194
                          N_FAMILIAS_INSTITUCIONAIS: 
                            type: integer
                            format: int32
                            example: 11
                          N_FAMILIAS_CLASSICAS_1OU2_PESS: 
                            type: integer
                            format: int32
                            example: 7561
                          N_FAMILIAS_CLASSICAS_3OU4_PESS: 
                            type: integer
                            format: int32
                            example: 5272
                          N_FAMILIAS_CLASSICAS_NPES65: 
                            type: integer
                            format: int32
                            example: 5070
                          N_FAMILIAS_CLASSICAS_NPES14: 
                            type: integer
                            format: int32
                            example: 3575
                          N_FAMILIAS_CLASSIC_SEM_DESEMP: 
                            type: integer
                            format: int32
                            example: 11697
                          N_FAMILIAS_CLASSIC_1DESEMPREG: 
                            type: integer
                            format: int32
                            example: 2084
                          N_FAMILIAS_CLASS_2MAIS_DESEMP: 
                            type: integer
                            format: int32
                            example: 413
                          N_NUCLEOS_FAMILIARES: 
                            type: integer
                            format: int32
                            example: 11494
                          N_NUCLEOS_1FILH_NAO_CASADO: 
                            type: integer
                            format: int32
                            example: 4737
                          N_NUCLEOS_2FILH_NAO_CASADO: 
                            type: integer
                            format: int32
                            example: 2233
                          N_NUCLEOS_FILH_INF_6ANOS: 
                            type: integer
                            format: int32
                            example: 1704
                          N_NUCLEOS_FILH_INF_15ANOS: 
                            type: integer
                            format: int32
                            example: 3537
                          N_NUCLEOS_FILH_MAIS_15ANOS: 
                            type: integer
                            format: int32
                            example: 5088
                          N_INDIVIDUOS_PRESENT: 
                            type: integer
                            format: int32
                            example: 36630
                          N_INDIVIDUOS_PRESENT_H: 
                            type: integer
                            format: int32
                            example: 17144
                          N_INDIVIDUOS_PRESENT_M: 
                            type: integer
                            format: int32
                            example: 19486
                          N_INDIVIDUOS_RESIDENT: 
                            type: integer
                            format: int32
                            example: 38102
                          N_INDIVIDUOS_RESIDENT_H: 
                            type: integer
                            format: int32
                            example: 17945
                          N_INDIVIDUOS_RESIDENT_M: 
                            type: integer
                            format: int32
                            example: 20157
                          N_INDIVIDUOS_RESIDENT_0A4: 
                            type: integer
                            format: int32
                            example: 1672
                          N_INDIVIDUOS_RESIDENT_5A9: 
                            type: integer
                            format: int32
                            example: 1748
                          N_INDIVIDUOS_RESIDENT_10A13: 
                            type: integer
                            format: int32
                            example: 1465
                          N_INDIVIDUOS_RESIDENT_14A19: 
                            type: integer
                            format: int32
                            example: 2474
                          N_INDIVIDUOS_RESIDENT_15A19: 
                            type: integer
                            format: int32
                            example: 2102
                          N_INDIVIDUOS_RESIDENT_20A24: 
                            type: integer
                            format: int32
                            example: 2346
                          N_INDIVIDUOS_RESIDENT_20A64: 
                            type: integer
                            format: int32
                            example: 23618
                          N_INDIVIDUOS_RESIDENT_25A64: 
                            type: integer
                            format: int32
                            example: 21272
                          N_INDIVIDUOS_RESIDENT_65: 
                            type: integer
                            format: int32
                            example: 7125
                          N_INDIVIDUOS_RESIDENT_H_0A4: 
                            type: integer
                            format: int32
                            example: 866
                          N_INDIVIDUOS_RESIDENT_H_5A9: 
                            type: integer
                            format: int32
                            example: 865
                          N_INDIVIDUOS_RESIDENT_H_10A13: 
                            type: integer
                            format: int32
                            example: 727
                          N_INDIVIDUOS_RESIDENT_H_14A19: 
                            type: integer
                            format: int32
                            example: 1257
                          N_INDIVIDUOS_RESIDENT_H_15A19: 
                            type: integer
                            format: int32
                            example: 1068
                          N_INDIVIDUOS_RESIDENT_H_20A24: 
                            type: integer
                            format: int32
                            example: 1147
                          N_INDIVIDUOS_RESIDENT_H_20A64: 
                            type: integer
                            format: int32
                            example: 11398
                          N_INDIVIDUOS_RESIDENT_H_25A64: 
                            type: integer
                            format: int32
                            example: 10251
                          N_INDIVIDUOS_RESIDENT_H_65: 
                            type: integer
                            format: int32
                            example: 2832
                          N_INDIVIDUOS_RESIDENT_M_0A4: 
                            type: integer
                            format: int32
                            example: 806
                          N_INDIVIDUOS_RESIDENT_M_5A9: 
                            type: integer
                            format: int32
                            example: 883
                          N_INDIVIDUOS_RESIDENT_M_10A13: 
                            type: integer
                            format: int32
                            example: 738
                          N_INDIVIDUOS_RESIDENT_M_14A19: 
                            type: integer
                            format: int32
                            example: 1217
                          N_INDIVIDUOS_RESIDENT_M_15A19: 
                            type: integer
                            format: int32
                            example: 1034
                          N_INDIVIDUOS_RESIDENT_M_20A24: 
                            type: integer
                            format: int32
                            example: 1199
                          N_INDIVIDUOS_RESIDENT_M_20A64: 
                            type: integer
                            format: int32
                            example: 12220
                          N_INDIVIDUOS_RESIDENT_M_25A64: 
                            type: integer
                            format: int32
                            example: 11021
                          N_INDIVIDUOS_RESIDENT_M_65: 
                            type: integer
                            format: int32
                            example: 4293
                          N_INDIV_RESIDENT_N_LER_ESCRV: 
                            type: integer
                            format: int32
                            example: 2390
                          N_IND_RESIDENT_FENSINO_1BAS: 
                            type: integer
                            format: int32
                            example: 1683
                          N_IND_RESIDENT_FENSINO_2BAS: 
                            type: integer
                            format: int32
                            example: 1017
                          N_IND_RESIDENT_FENSINO_3BAS: 
                            type: integer
                            format: int32
                            example: 1421
                          N_IND_RESIDENT_FENSINO_SEC: 
                            type: integer
                            format: int32
                            example: 1367
                          N_IND_RESIDENT_FENSINO_POSSEC: 
                            type: integer
                            format: int32
                            example: 62
                          N_IND_RESIDENT_FENSINO_SUP: 
                            type: integer
                            format: int32
                            example: 1145
                          N_IND_RESIDENT_ENSINCOMP_1BAS: 
                            type: integer
                            format: int32
                            example: 11474
                          N_IND_RESIDENT_ENSINCOMP_2BAS: 
                            type: integer
                            format: int32
                            example: 5133
                          N_IND_RESIDENT_ENSINCOMP_3BAS: 
                            type: integer
                            format: int32
                            example: 6236
                          N_IND_RESIDENT_ENSINCOMP_SEC: 
                            type: integer
                            format: int32
                            example: 4334
                          N_IND_RESIDENT_ENSINCOMP_POSEC: 
                            type: integer
                            format: int32
                            example: 263
                          N_IND_RESIDENT_ENSINCOMP_SUP: 
                            type: integer
                            format: int32
                            example: 2904
                          N_IND_RESID_DESEMP_PROC_1EMPRG: 
                            type: integer
                            format: int32
                            example: 535
                          N_IND_RESID_DESEMP_PROC_EMPRG: 
                            type: integer
                            format: int32
                            example: 2452
                          N_IND_RESID_EMPREGADOS: 
                            type: integer
                            format: int32
                            example: 14821
                          N_IND_RESID_PENS_REFORM: 
                            type: integer
                            format: int32
                            example: 9003
                          N_IND_RESID_SEM_ACT_ECON: 
                            type: integer
                            format: int32
                            example: 15037
                          N_IND_RESID_EMPREG_SECT_PRIM: 
                            type: integer
                            format: int32
                            example: 18
                          N_IND_RESID_EMPREG_SECT_SEQ: 
                            type: integer
                            format: int32
                            example: 1967
                          N_IND_RESID_EMPREG_SECT_TERC: 
                            type: integer
                            format: int32
                            example: 12836
                          N_IND_RESID_ESTUD_MUN_RESID: 
                            type: integer
                            format: int32
                            example: 7145
                          N_IND_RESID_TRAB_MUN_RESID: 
                            type: integer
                            format: int32
                            example: 12599
                      censos2021: 
                        type: object
                        properties: 
                          N_EDIFICIOS_CLASSICOS: 
                            type: integer
                            format: int32
                            example: 1490
                          N_ALOJAMENTOS: 
                            type: integer
                            format: int32
                            example: 16810
                          N_AGREGADOS: 
                            type: integer
                            format: int32
                            example: 14142
                          N_INDIVIDUOS_RESIDENT: 
                            type: integer
                            format: int32
                            example: 35482
                      geojson: 
                        type: object
                        properties: 
                          type: 
                            type: string
                            example: Feature
                          properties: 
                            type: object
                            properties: 
                              Dicofre: 
                                type: string
                                example: 110621
                              Freguesia: 
                                type: string
                                example: Marvila
                              Concelho: 
                                type: string
                                example: Lisboa
                              Distrito: 
                                type: string
                                example: Lisboa
                              TAA: 
                                type: string
                                example: ÁREA PRINCIPAL
                              Area_T_ha: 
                                type: number
                                example: 712.24
                              Area_EA_ha: 
                                type: number
                                example: 712.24
                              Des_Simpli: 
                                type: string
                                example: Marvila
                              centros: 
                                type: object
                                properties: 
                                  centro: 
                                    type: array
                                    items: 
                                      type: number
                                      example: -9.110550057590924
                                  centroide: 
                                    type: array
                                    items: 
                                      type: number
                                      example: -9.122147914640724
                                  centroDeMassa: 
                                    type: array
                                    items: 
                                      type: number
                                      example: -9.11095555386038
                                  centroMedio: 
                                    type: array
                                    items: 
                                      type: number
                                      example: -9.122110338288898
                                  centroMediano: 
                                    type: array
                                    items: 
                                      type: number
                                      example: -9.122147914640724
                          geometry: 
                            type: object
                            properties: 
                              type: 
                                type: string
                                example: Polygon
                              coordinates: 
                                type: array
                                items: 
                                  type: array
                                  items: 
                                    type: array
                                    items: 
                                      type: number
                                      example: -9.103096704264637
                          bbox: 
                            type: array
                            items: 
                              type: number
                              example: -9.13039036150257
                  detalhesMunicipio: 
                    type: object
                    properties: 
                      codigo: 
                        type: string
                        example: 2676
                      nif: 
                        type: string
                        example: 500051070
                      rua: 
                        type: string
                        example: Paços do Concelho - Praça do Município
                      localidade: 
                        type: string
                        example: LISBOA
                      codigopostal: 
                        type: string
                        example: 1100-365
                      descrpostal: 
                        type: string
                        example: LISBOA
                      email: 
                        type: string
                        example: gopi@cm-lisboa.pt; municipe@cm-lisboa.pt
                      telefone: 
                        type: string
                        example: 213236100
                      fax: 
                        type: string
                        example: 213236137
                      sitio: 
                        type: string
                        example: www.cm-lisboa.pt
                      areaha: 
                        type: string
                        example: 84.92
                      populacao: 
                        type: string
                        example: 547631
                      eleitores: 
                        type: string
                        example: 523152
                      codigoine: 
                        type: string
                        example: 1106
                      nome: 
                        type: string
                        example: Lisboa
                      distrito: 
                        type: string
                        example: LISBOA
                      censos2011: 
                        type: object
                        properties: 
                          N_EDIFICIOS_CLASSICOS: 
                            type: integer
                            format: int32
                            example: 52496
                          N_EDIFICIOS_CLASSICOS_1OU2: 
                            type: integer
                            format: int32
                            example: 19711
                          N_EDIFICIOS_CLASSICOS_ISOLADOS: 
                            type: integer
                            format: int32
                            example: 2909
                          N_EDIFICIOS_CLASSICOS_GEMIN: 
                            type: integer
                            format: int32
                            example: 6052
                          N_EDIFICIOS_CLASSICOS_EMBANDA: 
                            type: integer
                            format: int32
                            example: 10750
                          N_EDIFICIOS_CLASSICOS_3OUMAIS: 
                            type: integer
                            format: int32
                            example: 31180
                          N_EDIFICIOS_CLASSICOS_OUTROS: 
                            type: integer
                            format: int32
                            example: 1605
                          N_EDIFICIOS_EXCLUSIV_RESID: 
                            type: integer
                            format: int32
                            example: 41245
                          N_EDIFICIOS_PRINCIPAL_RESID: 
                            type: integer
                            format: int32
                            example: 10133
                          N_EDIFICIOS_PRINCIP_NAO_RESID: 
                            type: integer
                            format: int32
                            example: 1118
                          N_EDIFICIOS_1OU2_PISOS: 
                            type: integer
                            format: int32
                            example: 20654
                          N_EDIFICIOS_3OU4_PISOS: 
                            type: integer
                            format: int32
                            example: 16184
                          N_EDIFICIOS_CONSTR_ANTES_1919: 
                            type: integer
                            format: int32
                            example: 10279
                          N_EDIFICIOS_CONSTR_1919A1945: 
                            type: integer
                            format: int32
                            example: 9747
                          N_EDIFICIOS_CONSTR_1946A1960: 
                            type: integer
                            format: int32
                            example: 13149
                          N_EDIFICIOS_CONSTR_1961A1970: 
                            type: integer
                            format: int32
                            example: 6965
                          N_EDIFICIOS_CONSTR_1971A1980: 
                            type: integer
                            format: int32
                            example: 4335
                          N_EDIFICIOS_CONSTR_1981A1990: 
                            type: integer
                            format: int32
                            example: 2136
                          N_EDIFICIOS_CONSTR_1991A1995: 
                            type: integer
                            format: int32
                            example: 1171
                          N_EDIFICIOS_CONSTR_1996A2000: 
                            type: integer
                            format: int32
                            example: 1751
                          N_EDIFICIOS_CONSTR_2001A2005: 
                            type: integer
                            format: int32
                            example: 1700
                          N_EDIFICIOS_CONSTR_2006A2011: 
                            type: integer
                            format: int32
                            example: 1263
                          N_EDIFICIOS_ESTRUT_BETAO: 
                            type: integer
                            format: int32
                            example: 22139
                          N_EDIFICIOS_ESTRUT_COM_PLACA: 
                            type: integer
                            format: int32
                            example: 11222
                          N_EDIFICIOS_ESTRUT_SEM_PLACA: 
                            type: integer
                            format: int32
                            example: 17328
                          N_EDIFICIOS_ESTRUT_ADOBE_PEDRA: 
                            type: integer
                            format: int32
                            example: 1160
                          N_EDIFICIOS_ESTRUT_OUTRA: 
                            type: integer
                            format: int32
                            example: 647
                          N_ALOJAMENTOS: 
                            type: integer
                            format: int32
                            example: 323981
                          N_ALOJAMENTOS_FAMILIARES: 
                            type: integer
                            format: int32
                            example: 323076
                          N_ALOJAMENTOS_FAM_CLASSICOS: 
                            type: integer
                            format: int32
                            example: 322865
                          N_ALOJAMENTOS_FAM_N_CLASSICOS: 
                            type: integer
                            format: int32
                            example: 211
                          N_ALOJAMENTOS_COLECTIVOS: 
                            type: integer
                            format: int32
                            example: 905
                          N_CLASSICOS_RES_HABITUAL: 
                            type: integer
                            format: int32
                            example: 237247
                          N_ALOJAMENTOS_RES_HABITUAL: 
                            type: integer
                            format: int32
                            example: 237458
                          N_ALOJAMENTOS_VAGOS: 
                            type: integer
                            format: int32
                            example: 50209
                          N_RES_HABITUAL_COM_AGUA: 
                            type: integer
                            format: int32
                            example: 237014
                          N_RES_HABITUAL_COM_RETRETE: 
                            type: integer
                            format: int32
                            example: 236870
                          N_RES_HABITUAL_COM_ESGOTOS: 
                            type: integer
                            format: int32
                            example: 237120
                          N_RES_HABITUAL_COM_BANHO: 
                            type: integer
                            format: int32
                            example: 234958
                          N_RES_HABITUAL_AREA_50: 
                            type: integer
                            format: int32
                            example: 39997
                          N_RES_HABITUAL_AREA_50_100: 
                            type: integer
                            format: int32
                            example: 116357
                          N_RES_HABITUAL_AREA_100_200: 
                            type: integer
                            format: int32
                            example: 72452
                          N_RES_HABITUAL_AREA_200: 
                            type: integer
                            format: int32
                            example: 8441
                          N_RES_HABITUAL_1_2_DIV: 
                            type: integer
                            format: int32
                            example: 10857
                          N_RES_HABITUAL_3_4_DIV: 
                            type: integer
                            format: int32
                            example: 111621
                          N_RES_HABITUAL_ESTAC_1: 
                            type: integer
                            format: int32
                            example: 37747
                          N_RES_HABITUAL_ESTAC_2: 
                            type: integer
                            format: int32
                            example: 15648
                          N_RES_HABITUAL_ESTAC_3: 
                            type: integer
                            format: int32
                            example: 3900
                          N_RES_HABITUAL_PROP_OCUP: 
                            type: integer
                            format: int32
                            example: 122817
                          N_RES_HABITUAL_ARREND: 
                            type: integer
                            format: int32
                            example: 100241
                          N_FAMILIAS_CLASSICAS: 
                            type: integer
                            format: int32
                            example: 243892
                          N_FAMILIAS_INSTITUCIONAIS: 
                            type: integer
                            format: int32
                            example: 379
                          N_FAMILIAS_CLASSICAS_1OU2_PESS: 
                            type: integer
                            format: int32
                            example: 164696
                          N_FAMILIAS_CLASSICAS_3OU4_PESS: 
                            type: integer
                            format: int32
                            example: 66790
                          N_FAMILIAS_CLASSICAS_NPES65: 
                            type: integer
                            format: int32
                            example: 93960
                          N_FAMILIAS_CLASSICAS_NPES14: 
                            type: integer
                            format: int32
                            example: 46301
                          N_FAMILIAS_CLASSIC_SEM_DESEMP: 
                            type: integer
                            format: int32
                            example: 216976
                          N_FAMILIAS_CLASSIC_1DESEMPREG: 
                            type: integer
                            format: int32
                            example: 23740
                          N_FAMILIAS_CLASS_2MAIS_DESEMP: 
                            type: integer
                            format: int32
                            example: 3176
                          N_NUCLEOS_FAMILIARES: 
                            type: integer
                            format: int32
                            example: 154519
                          N_NUCLEOS_1FILH_NAO_CASADO: 
                            type: integer
                            format: int32
                            example: 56060
                          N_NUCLEOS_2FILH_NAO_CASADO: 
                            type: integer
                            format: int32
                            example: 28582
                          N_NUCLEOS_FILH_INF_6ANOS: 
                            type: integer
                            format: int32
                            example: 22959
                          N_NUCLEOS_FILH_INF_15ANOS: 
                            type: integer
                            format: int32
                            example: 45801
                          N_NUCLEOS_FILH_MAIS_15ANOS: 
                            type: integer
                            format: int32
                            example: 57088
                          N_INDIVIDUOS_PRESENT: 
                            type: integer
                            format: int32
                            example: 547348
                          N_INDIVIDUOS_PRESENT_H: 
                            type: integer
                            format: int32
                            example: 250857
                          N_INDIVIDUOS_PRESENT_M: 
                            type: integer
                            format: int32
                            example: 296491
                          N_INDIVIDUOS_RESIDENT: 
                            type: integer
                            format: int32
                            example: 547733
                          N_INDIVIDUOS_RESIDENT_H: 
                            type: integer
                            format: int32
                            example: 250874
                          N_INDIVIDUOS_RESIDENT_M: 
                            type: integer
                            format: int32
                            example: 296859
                          N_INDIVIDUOS_RESIDENT_0A4: 
                            type: integer
                            format: int32
                            example: 23676
                          N_INDIVIDUOS_RESIDENT_5A9: 
                            type: integer
                            format: int32
                            example: 23364
                          N_INDIVIDUOS_RESIDENT_10A13: 
                            type: integer
                            format: int32
                            example: 18948
                          N_INDIVIDUOS_RESIDENT_14A19: 
                            type: integer
                            format: int32
                            example: 28963
                          N_INDIVIDUOS_RESIDENT_15A19: 
                            type: integer
                            format: int32
                            example: 24457
                          N_INDIVIDUOS_RESIDENT_20A24: 
                            type: integer
                            format: int32
                            example: 29050
                          N_INDIVIDUOS_RESIDENT_20A64: 
                            type: integer
                            format: int32
                            example: 321822
                          N_INDIVIDUOS_RESIDENT_25A64: 
                            type: integer
                            format: int32
                            example: 292772
                          N_INDIVIDUOS_RESIDENT_65: 
                            type: integer
                            format: int32
                            example: 130960
                          N_INDIVIDUOS_RESIDENT_H_0A4: 
                            type: integer
                            format: int32
                            example: 12173
                          N_INDIVIDUOS_RESIDENT_H_5A9: 
                            type: integer
                            format: int32
                            example: 11839
                          N_INDIVIDUOS_RESIDENT_H_10A13: 
                            type: integer
                            format: int32
                            example: 9687
                          N_INDIVIDUOS_RESIDENT_H_14A19: 
                            type: integer
                            format: int32
                            example: 14711
                          N_INDIVIDUOS_RESIDENT_H_15A19: 
                            type: integer
                            format: int32
                            example: 12417
                          N_INDIVIDUOS_RESIDENT_H_20A24: 
                            type: integer
                            format: int32
                            example: 14563
                          N_INDIVIDUOS_RESIDENT_H_20A64: 
                            type: integer
                            format: int32
                            example: 153241
                          N_INDIVIDUOS_RESIDENT_H_25A64: 
                            type: integer
                            format: int32
                            example: 138678
                          N_INDIVIDUOS_RESIDENT_H_65: 
                            type: integer
                            format: int32
                            example: 49223
                          N_INDIVIDUOS_RESIDENT_M_0A4: 
                            type: integer
                            format: int32
                            example: 11503
                          N_INDIVIDUOS_RESIDENT_M_5A9: 
                            type: integer
                            format: int32
                            example: 11525
                          N_INDIVIDUOS_RESIDENT_M_10A13: 
                            type: integer
                            format: int32
                            example: 9261
                          N_INDIVIDUOS_RESIDENT_M_14A19: 
                            type: integer
                            format: int32
                            example: 14252
                          N_INDIVIDUOS_RESIDENT_M_15A19: 
                            type: integer
                            format: int32
                            example: 12040
                          N_INDIVIDUOS_RESIDENT_M_20A24: 
                            type: integer
                            format: int32
                            example: 14487
                          N_INDIVIDUOS_RESIDENT_M_20A64: 
                            type: integer
                            format: int32
                            example: 168581
                          N_INDIVIDUOS_RESIDENT_M_25A64: 
                            type: integer
                            format: int32
                            example: 154094
                          N_INDIVIDUOS_RESIDENT_M_65: 
                            type: integer
                            format: int32
                            example: 81737
                          N_INDIV_RESIDENT_N_LER_ESCRV: 
                            type: integer
                            format: int32
                            example: 16186
                          N_IND_RESIDENT_FENSINO_1BAS: 
                            type: integer
                            format: int32
                            example: 21272
                          N_IND_RESIDENT_FENSINO_2BAS: 
                            type: integer
                            format: int32
                            example: 11352
                          N_IND_RESIDENT_FENSINO_3BAS: 
                            type: integer
                            format: int32
                            example: 16405
                          N_IND_RESIDENT_FENSINO_SEC: 
                            type: integer
                            format: int32
                            example: 17319
                          N_IND_RESIDENT_FENSINO_POSSEC: 
                            type: integer
                            format: int32
                            example: 834
                          N_IND_RESIDENT_FENSINO_SUP: 
                            type: integer
                            format: int32
                            example: 30259
                          N_IND_RESIDENT_ENSINCOMP_1BAS: 
                            type: integer
                            format: int32
                            example: 107156
                          N_IND_RESIDENT_ENSINCOMP_2BAS: 
                            type: integer
                            format: int32
                            example: 49333
                          N_IND_RESIDENT_ENSINCOMP_3BAS: 
                            type: integer
                            format: int32
                            example: 74782
                          N_IND_RESIDENT_ENSINCOMP_SEC: 
                            type: integer
                            format: int32
                            example: 80869
                          N_IND_RESIDENT_ENSINCOMP_POSEC: 
                            type: integer
                            format: int32
                            example: 5142
                          N_IND_RESIDENT_ENSINCOMP_SUP: 
                            type: integer
                            format: int32
                            example: 148413
                          N_IND_RESID_DESEMP_PROC_1EMPRG: 
                            type: integer
                            format: int32
                            example: 6028
                          N_IND_RESID_DESEMP_PROC_EMPRG: 
                            type: integer
                            format: int32
                            example: 24811
                          N_IND_RESID_EMPREGADOS: 
                            type: integer
                            format: int32
                            example: 229566
                          N_IND_RESID_PENS_REFORM: 
                            type: integer
                            format: int32
                            example: 140676
                          N_IND_RESID_SEM_ACT_ECON: 
                            type: integer
                            format: int32
                            example: 216834
                          N_IND_RESID_EMPREG_SECT_PRIM: 
                            type: integer
                            format: int32
                            example: 685
                          N_IND_RESID_EMPREG_SECT_SEQ: 
                            type: integer
                            format: int32
                            example: 24195
                          N_IND_RESID_EMPREG_SECT_TERC: 
                            type: integer
                            format: int32
                            example: 204686
                          N_IND_RESID_ESTUD_MUN_RESID: 
                            type: integer
                            format: int32
                            example: 103018
                          N_IND_RESID_TRAB_MUN_RESID: 
                            type: integer
                            format: int32
                            example: 187703
                      censos2021: 
                        type: object
                        properties: 
                          N_EDIFICIOS_CLASSICOS: 
                            type: integer
                            format: int32
                            example: 49223
                          N_ALOJAMENTOS: 
                            type: integer
                            format: int32
                            example: 320143
                          N_AGREGADOS: 
                            type: integer
                            format: int32
                            example: 242953
                          N_INDIVIDUOS_RESIDENT: 
                            type: integer
                            format: int32
                            example: 545923
                  uso: 
                    type: string
                    example: Tecido edificado contínuo predominantemente vertical
                  carta_solo: 
                    type: object
                    properties: 
                      COS18n4_L: 
                        type: string
                        example: Tecido edificado contínuo predominantemente vertical
                      ID: 
                        type: integer
                        format: int32
                        example: 476
                      COS18n1_C: 
                        type: string
                        example: 1
                      COS18n1_L: 
                        type: string
                        example: Territórios artificializados
                      COS18n2_C: 
                        type: string
                        example: 1.1
                      COS18n2_L: 
                        type: string
                        example: Tecido edificado
                      COS18n3_C: 
                        type: string
                        example: 1.1.1
                      COS18n3_L: 
                        type: string
                        example: Tecido edificado contínuo
                      COS18n4_C: 
                        type: string
                        example: 1.1.1.1
                      Area_ha: 
                        type: number
                        example: 5.73874899292
                      fid_2: 
                        type: integer
                        format: int32
                        example: 807
                  Secção Estatística (INE BGRI 2021): 
                    type: string
                    example: 011
                  Subsecção Estatística (INE BGRI 2021): 
                    type: string
                    example: 06
                  Detalhes Subsecção Estatística: 
                    type: object
                    properties: 
                      OBJECTID: 
                        type: integer
                        format: int32
                        example: 176
                      BGRI2021: 
                        type: string
                        example: 11062101106
                      DT21: 
                        type: string
                        example: 11
                      DTMN21: 
                        type: string
                        example: 1106
                      DTMNFR21: 
                        type: string
                        example: 110621
                      DTMNFRSEC21: 
                        type: string
                        example: 110621011
                      SECNUM21: 
                        type: string
                        example: 011
                      SSNUM21: 
                        type: string
                        example: 06
                      SECSSNUM21: 
                        type: string
                        example: 01106
                      OBJECTID_1: 
                        type: integer
                        format: int32
                        example: 102734
                      DT: 
                        type: string
                        example: 11
                      CC: 
                        type: string
                        example: 06
                      fr: 
                        type: string
                        example: 21
                      SEC: 
                        type: string
                        example: 011
                      SS: 
                        type: string
                        example: 06
                      N_EDIFICIOS_CLASSICOS: 
                        type: integer
                        format: int32
                        example: 12
                      N_ALOJAMENTOS: 
                        type: integer
                        format: int32
                        example: 120
                      N_AGREGADOS: 
                        type: integer
                        format: int32
                        example: 101
                      N_INDIVIDUOS_RESIDENT: 
                        type: integer
                        format: int32
                        example: 234
                  rua: 
                    type: string
                    example: Rua Fernando Maurício
                  n_porta: 
                    type: string
                    example: 30
                  CP: 
                    type: string
                    example: 1950-449

        '404':
          description: Coordenadas não encontradas ou pedido com erro
          content:
            application/json:
              schema:
                type: string
  
  /municipios:
    get:
      operationId: getAllMunicipalities
      summary: Lista de todos os Municípios
      parameters:
        - in: query
          name: nome
          required: false
          schema:
            type: string
          allowReserved: true
          description: Nome do Município
        - in: query
          name: codigo
          required: false
          schema:
            type: integer
          description: Código do Município
        - in: query
          name: nif
          required: false
          schema:
            type: integer
          description: NIF do Município
        - in: query
          name: codigopostal
          required: false
          schema:
            type: string
          description: Código Postal do Município
        - in: query
          name: email
          required: false
          schema:
            type: string
          allowReserved: true
          description: Email do Município
        - in: query
          name: telefone
          required: false
          schema:
            type: integer
          description: Telefone do Município
        - in: query
          name: fax
          required: false
          schema:
            type: integer
          description: Fax do Município
        - in: query
          name: sitio
          required: false
          schema:
            type: string
          allowReserved: true
          description: Website do Município
        - in: query
          name: codigoine
          required: false
          schema:
            type: integer
          description: Código INE do Município
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Lista de todos os Municípios
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/municipio'
                - $ref: '#/components/schemas/municipios'
        
        '404':
          description: Município não encontrado
          content:
            application/json:
              schema:
                type: string

  /municipios/{municipio}:
    get:
      operationId: getMunicipality
      summary: Detalhes sobre Município  
      parameters:
        - in: path
          name: municipio
          required: true
          schema:
            type: string
            example: évora
          allowReserved: true
          description: Município
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Detalhes do Município
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Município não encontrado
          content:
            application/json:
              schema:
                type: string

  /municipio/{municipio}:
    $ref: '#/paths/~1municipios~1%7Bmunicipio%7D'
  
  /municipios/{municipio}/freguesias:
    get:
      operationId: getParishesOfMunicipality
      summary: Lista de Freguesias no Município
      parameters:
        - in: path
          name: municipio
          required: true
          schema:
            type: string
            example: évora
          allowReserved: true
          description: Município
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Lista de Freguesias no Município
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Freguesia não encontrada
          content:
            application/json:
              schema:
                type: string

  /municipio/{municipio}/freguesias:
    $ref: '#/paths/~1municipios~1%7Bmunicipio%7D~1freguesias'
  
  /freguesias:
    get:
      operationId: getAllParishes
      summary: Lista de todas as Freguesias
      parameters:
        - in: query
          name: nome
          required: false
          schema:
            type: string
          allowReserved: true
          description: Nome da Freguesia
        - in: query
          name: municipio
          required: false
          schema:
            type: string
          allowReserved: true
          description: Município da Freguesia
        - in: query
          name: codigo
          required: false
          schema:
            type: integer
          description: Código da Freguesia
        - in: query
          name: nif
          required: false
          schema:
            type: integer
          description: NIF da Freguesia
        - in: query
          name: codigopostal
          required: false
          schema:
            type: string
          description: Código Postal da Freguesia
        - in: query
          name: email
          required: false
          schema:
            type: string
          allowReserved: true
          description: Email da Freguesia
        - in: query
          name: telefone
          required: false
          schema:
            type: integer
          description: Telefone da Freguesia
        - in: query
          name: fax
          required: false
          schema:
            type: integer
          description: Fax da Freguesia
        - in: query
          name: sitio
          required: false
          schema:
            type: string
          allowReserved: true
          description: Website da Freguesia
        - in: query
          name: codigoine
          required: false
          schema:
            type: integer
          description: Código INE da Freguesia
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Lista de todas as Freguesias
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Freguesia não encontrada
          content:
            application/json:
              schema:
                type: string

  /freguesias/{freguesia}:
    get:
      operationId: getParish
      summary: Detalhes sobre Freguesia(s)
      parameters:
        - in: path
          name: freguesia
          required: true
          schema:
            type: string
            example: serzedelo
          allowReserved: true
          description: Freguesia
        - in: query
          name: municipio
          required: false
          schema:
            type: string
          allowReserved: true
          description: Município da Freguesia
        - in: query
          name: codigo
          required: false
          schema:
            type: integer
          description: Código da Freguesia
        - in: query
          name: nif
          required: false
          schema:
            type: integer
          description: NIF da Freguesia
        - in: query
          name: codigopostal
          required: false
          schema:
            type: string
          description: Código Postal da Freguesia
        - in: query
          name: email
          required: false
          schema:
            type: string
          allowReserved: true
          description: Email da Freguesia
        - in: query
          name: telefone
          required: false
          schema:
            type: integer
          description: Telefone da Freguesia
        - in: query
          name: fax
          required: false
          schema:
            type: integer
          description: Fax da Freguesia
        - in: query
          name: sitio
          required: false
          schema:
            type: string
          allowReserved: true
          description: Website da Freguesia
        - in: query
          name: codigoine
          required: false
          schema:
            type: integer
          description: Código INE da Freguesia
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Lista de Freguesias que correspondem à procura
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Freguesia não encontrada
          content:
            application/json:
              schema:
                type: string

  /freguesia/{freguesia}:
    $ref: '#/paths/~1freguesias~1%7Bfreguesia%7D'
                
  /municipios/{municipio}/freguesias/{freguesia}:
    get:
      operationId: getParishOfMunicipality
      summary: Detalhes sobre Freguesia de um determinado Município
      parameters:
        - in: path
          name: municipio
          required: true
          schema:
            type: string
            example: guimarães
          allowReserved: true
          description: Município
        - in: path
          name: freguesia
          required: true
          schema:
            type: string
            example: serzedelo
          allowReserved: true
          description: Município
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Detalhes da Freguesia
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Freguesia não encontrada
          content:
            application/json:
              schema:
                type: string

  /municipio/{municipio}/freguesias/{freguesia}:
    $ref: '#/paths/~1municipios~1%7Bmunicipio%7D~1freguesias~1%7Bfreguesia%7D'
  
  /municipios/{municipio}/freguesia/{freguesia}:
    $ref: '#/paths/~1municipios~1%7Bmunicipio%7D~1freguesias~1%7Bfreguesia%7D'

  /municipio/{municipio}/freguesia/{freguesia}:
    $ref: '#/paths/~1municipios~1%7Bmunicipio%7D~1freguesias~1%7Bfreguesia%7D'

  /distritos:
    get:
      operationId: getAllDistricts
      summary: Lista de todos os Distritos
      parameters: 
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Lista de todos os Distritos
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Pedido com erro
          content:
            application/json:
              schema:
                type: string

  /distritos/municipios:
    get:
      operationId: getAllDistrictsWithMunicipalities
      summary: Lista de todos os Distritos com respetivos Municípios
      parameters: 
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Lista de todos os Distritos com respetivos Municípios
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Pedido com erro
          content:
            application/json:
              schema:
                type: string
                
  /distritos/{distrito}/municipios:
    get:
      operationId: getMunicipalitiesOfDistrict
      summary: Lista de Municípios do Distrito
      parameters:
        - in: path
          name: distrito
          required: true
          schema:
            type: string
            example: porto
          allowReserved: true
          description: Distrito
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Lista de Municípios do Distrito
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Distrito não encontrado
          content:
            application/json:
              schema:
                type: string
  
  /distrito/{distrito}/municipios:
    $ref: '#/paths/~1distritos~1%7Bdistrito%7D~1municipios'
                
  /cp/{cp}:
    get:
      operationId: getPostalcodeInfo
      summary: Detalhes sobre Código Postal (CP4 ou CP7)
      parameters:
        - in: path
          name: cp
          required: true
          schema:
            type: string
            pattern: /^\d{4}(\p{Dash}?\d{3})?$/u
          examples:
            cp4:
              value: '2495'
              summary: Código Postal CP4
            cp7:
              value: '2495-300'
              summary: Código Postal CP7
          description: Código Postal
        - $ref: '#/components/parameters/json'
      responses:
        '200':
          description: Detalhes sobre Código Postal CP4 ou CP7
          content:
[...]
