<!DOCTYPE html>
<html>
    <head>
      {{> htmlHead}}

      <link rel="stylesheet" type="text/css" href="/css/import-bootstrap.js.css" />
      
      \{{{redocHead}}}

      <script>
        function init() {
          document.querySelectorAll('button').forEach(btn => {
            if(btn.innerHTML.includes('Collapse all')) btn.click()
          })

          Array.from(document.getElementById('docsTLDRtable').getElementsByTagName('a')).forEach(el => {
            el.href = '{{{jsonApiOrigin}}}' + (new URL(el.href)).pathname
          })
        }
        window.onload = init
      </script>
    </head>
    <body>
      {{> bodyHeader}}

      <br>
      <center>
        <h2>Documentação da API JSON</h2>
      </center>
      {{> jsonOrHtmlDocs}}

      <center>
        <h3>Documentação simplificada</h3>
      </center>
      {{> docsTLDR}}

      <br><br>

      <center>
        <h3>Documentação completa</h3>
      </center>
      \{{{redocHTML}}}

      {{> footer}}

      <script type="module" src="/js/import-bootstrap.js"></script>
      
    </body>
</html>
